@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans ExtraBold Italic'), local('NotoSans-ExtraBoldItalic'), url('../../wwwroot/fonts/noto-sans/NotoSans-ExtraBoldItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-ExtraBoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Black Italic'), local('NotoSans-BlackItalic'), url('../../wwwroot/fonts/noto-sans/NotoSans-BlackItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Black'), local('NotoSans-Black'), url('../../wwwroot/fonts/noto-sans/NotoSans-Black.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('../../wwwroot/fonts/noto-sans/NotoSans-Bold.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans ExtraBold'), local('NotoSans-ExtraBold'), url('../../wwwroot/fonts/noto-sans/NotoSans-ExtraBold.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-ExtraBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Bold Italic'), local('NotoSans-BoldItalic'), url('../../wwwroot/fonts/noto-sans/NotoSans-BoldItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Light'), local('NotoSans-Light'), url('../../wwwroot/fonts/noto-sans/NotoSans-Light.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Medium Italic'), local('NotoSans-MediumItalic'), url('../../wwwroot/fonts/noto-sans/NotoSans-MediumItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans ExtraLight Italic'), local('NotoSans-ExtraLightItalic'), url('../../wwwroot/fonts/noto-sans/NotoSans-ExtraLightItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Light Italic'), local('NotoSans-LightItalic'), url('../../wwwroot/fonts/noto-sans/NotoSans-LightItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Medium'), local('NotoSans-Medium'), url('../../wwwroot/fonts/noto-sans/NotoSans-Medium.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans ExtraLight'), local('NotoSans-ExtraLight'), url('../../wwwroot/fonts/noto-sans/NotoSans-ExtraLight.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Italic'), local('NotoSans-Italic'), url('../../wwwroot/fonts/noto-sans/NotoSans-Italic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('../../wwwroot/fonts/noto-sans/NotoSans-Regular.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Thin Italic'), local('NotoSans-ThinItalic'), url('../../wwwroot/fonts/noto-sans/NotoSans-ThinItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans Thin'), local('NotoSans-Thin'), url('../../wwwroot/fonts/noto-sans/NotoSans-Thin.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans SemiBold'), local('NotoSans-SemiBold'), url('../../wwwroot/fonts/noto-sans/NotoSans-SemiBold.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Sans';
	src: local('Noto Sans SemiBold Italic'), local('NotoSans-SemiBoldItalic'), url('../../wwwroot/fonts/noto-sans/NotoSans-SemiBoldItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-sans/NotoSans-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}
