@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Black'), local('NotoSerif-Black'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Black.woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Black.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Bold'), local('NotoSerif-Bold'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Bold.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Black Italic'), local('NotoSerif-BlackItalic'), url('../../wwwroot/fonts/noto-serif/NotoSerif-BlackItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Light Italic'), local('NotoSerif-LightItalic'), url('../../wwwroot/fonts/noto-serif/NotoSerif-LightItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-LightItalic.ttf') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif ExtraBold Italic'), local('NotoSerif-ExtraBoldItalic'), url('../../wwwroot/fonts/noto-serif/NotoSerif-ExtraBoldItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-ExtraBoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Italic'), local('NotoSerif-Italic'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Italic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'), url('../../wwwroot/fonts/noto-serif/NotoSerif-BoldItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif ExtraLight Italic'), local('NotoSerif-ExtraLightItalic'), url('../../wwwroot/fonts/noto-serif/NotoSerif-ExtraLightItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-ExtraLightItalic.ttf') format('truetype');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif ExtraBold'), local('NotoSerif-ExtraBold'), url('../../wwwroot/fonts/noto-serif/NotoSerif-ExtraBold.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-ExtraBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif ExtraLight'), local('NotoSerif-ExtraLight'), url('../../wwwroot/fonts/noto-serif/NotoSerif-ExtraLight.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Light'), local('NotoSerif-Light'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Light.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Thin'), local('NotoSerif-Thin'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Thin.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Medium Italic'), local('NotoSerif-MediumItalic'), url('../../wwwroot/fonts/noto-serif/NotoSerif-MediumItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-MediumItalic.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Regular'), local('NotoSerif-Regular'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Regular.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Thin Italic'), local('NotoSerif-ThinItalic'), url('../../wwwroot/fonts/noto-serif/NotoSerif-ThinItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-ThinItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif SemiBold Italic'), local('NotoSerif-SemiBoldItalic'), url('../../wwwroot/fonts/noto-serif/NotoSerif-SemiBoldItalic.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-SemiBoldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif SemiBold'), local('NotoSerif-SemiBold'), url('../../wwwroot/fonts/noto-serif/NotoSerif-SemiBold.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Noto Serif';
	src: local('Noto Serif Medium'), local('NotoSerif-Medium'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Medium.woff2') format('woff2'), url('../../wwwroot/fonts/noto-serif/NotoSerif-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
