﻿@using AMWD.ASBHE.TrainingPlanning.Database.Entities
@using AMWD.ASBHE.TrainingPlanning.Enums
@using AMWD.ASBHE.TrainingPlanning.Extensions
@{
	var authUser = Context.GetAuthUser();
	var groupedDriverLicenseClasses = new[]
	{
		new[] { DriverLicense.AM, DriverLicense.A1, DriverLicense.A2, DriverLicense.A },
		new[] { DriverLicense.B1, DriverLicense.B, DriverLicense.BE },
		new[] { DriverLicense.C1, DriverLicense.C, DriverLicense.C1E, DriverLicense.CE },
		new[] { DriverLicense.D1, DriverLicense.D, DriverLicense.D1E, DriverLicense.DE },
		new[] { DriverLicense.L, DriverLicense.T },
		new[] { DriverLicense.FW47, DriverLicense.FW75, DriverLicense.FW47E, DriverLicense.FW75E }
	};
}

<div class="modal fade" id="register-modal" tabindex="-1" aria-labelledby="rm-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="rm-title"><span class="fa-solid fa-user-plus"></span> Anmeldung</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
			</div>
			<div class="modal-body">
				<div class="row g-3 mb-3">
					<div class="col">
						<label for="rm-training" class="form-label">Ausgewählter Lehrgang</label>
						<input id="rm-training" class="form-control" readonly />
					</div>
				</div>

				@if (authUser != null)
				{
					<div class="row g-3 mb-3">
						<div class="col">
							<label for="rm-known-participant" class="form-label">Bekannten Teilnehmer suchen</label>
							<input id="rm-known-participant" class="form-control" list="rm-participant-list" />

							<datalist id="rm-participant-list">
								@foreach (var participant in (List<Participant>)ViewData["Participants"])
								{
									<option value='@(participant.SerializeJson().Replace("'", "\'"))'>@participant.FirstName @participant.LastName, @participant.EmailAddress, @(participant.Department?.Name ?? "-")</option>
								}
							</datalist>
						</div>
					</div>
				}

				<div class="row g-3 mb-3">
					<div class="col-sm">
						<label for="rm-firstname" class="form-label">Vorname</label>
						<input id="rm-firstname" class="form-control" required />
					</div>
					<div class="col-sm">
						<label for="rm-lastname" class="form-label">Nachname</label>
						<input id="rm-lastname" class="form-control" required />
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-sm">
						<label for="rm-email" class="form-label">E-Mail Adresse</label>
						<input id="rm-email" class="form-control" type="email" placeholder="mail@example.com" required />
					</div>
					<div class="col-sm">
						<label for="rm-phone" class="form-label">Telefon</label>
						<input id="rm-phone" class="form-control" type="tel" placeholder="+49 123 9876543" required />
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-sm">
						<label class="form-label">Geburtsdatum/-ort</label>
						<div class="input-group">
							<input id="rm-birthday" class="form-control" type="date" placeholder="Geburtsdatum" max="@(DateTime.Now.Date.ToString("yyyy-MM-dd"))" />
							<input id="rm-pob" class="form-control" placeholder="Geburtsort" />
						</div>
					</div>
					<div class="col-sm">
						<label for="rm-department" class="form-label">Bereich</label>
						<input id="rm-department" class="form-control" placeholder="Zugehörige Gliederung, wenn vorhanden" value="@(ViewBag.Department)" />
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-sm">
						<label class="form-label">Adresse</label>
						<input id="rm-street" class="form-control" placeholder="Straße + Haus Nr." required />
					</div>
					<div class="col-sm">
						<label class="form-label d-none d-sm-inline-block">&nbsp;</label>
						<div class="input-group">
							<input id="rm-zipcode" class="form-control" placeholder="PLZ" required />
							<input id="rm-city" class="form-control" placeholder="Stadt" required />
						</div>
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-sm">
						<label for="rm-addressaddition" class="form-label">Address-Zusatz</label>
						<input id="rm-addressaddition" class="form-control" />
					</div>
					<div class="col-sm">
						<label for="rm-country" class="form-label">Land</label>
						<input id="rm-country" class="form-control" />
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-12">
						<label class="form-label">Führerscheinklassen</label>
						<br />
						@foreach (var group in groupedDriverLicenseClasses)
						{
							<div class="btn-group mb-1">
								@foreach (var dc in group)
								{
									<input id="dc_@((int)dc)" class="btn-check dc-check" type="checkbox" autocomplete="off" value="@(dc.ToString())" />
									<label for="dc_@((int)dc)" class="btn btn-outline-dark">@dc.ToString()</label>
								}
							</div>
						}
					</div>
					<div class="col-12">
						<div class="form-check">
							<input id="rm-driverpermission" class="form-check-input" type="checkbox" />
							<label for="rm-driverpermission" class="form-check-label">Fahrberechtigung KatS-Fahrzeuge (Kraftfahrerlehrgang)</label>
						</div>
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-12">
						<div class="form-check">
							<input id="rm-assistance" class="form-check-input" type="checkbox" />
							<label for="rm-assistance" class="form-check-label">Ich habe Assistenzbedarf (z.B. Gebärdenverdolmetschung, Untertitel)</label>
						</div>
						<span class="small text-muted">Wir melden uns, um den konkreten Bedarf abzufragen</span>
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-sm">
						<label for="rm-hotel" class="form-label">Übernachtung</label>
						<select id="rm-hotel" class="form-select">
							@foreach (var hotel in Enum.GetValues<HotelRequirement>())
							{
								<option value="@((int)hotel)">@(hotel.GetDisplayName())</option>
							}
						</select>
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-sm">
						<label for="rm-foodselection" class="form-label">Essenswunsch</label>
						<select id="rm-foodselection" class="form-select">
							<option value="">&mdash;</option>
							@foreach (var fs in Enum.GetValues<FoodSelection>())
							{
								<option value="@((int)fs)">@(fs.GetDisplayName())</option>
							}
						</select>
					</div>
					<div class="col-sm">
						<label for="rm-allergies" class="form-label">Allergien</label>
						<input id="rm-allergies" class="form-control" />
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-12">
						<div class="form-check">
							<input id="rm-costs-takeover" class="form-check-input" type="radio" name="costs" />
							<label for="rm-costs-takeover" class="form-check-label">Kostenübernahme der Gliederung / des Verbands liegt vor</label>
						</div>
						<div class="form-check">
							<input id="rm-costs-self" class="form-check-input" type="radio" name="costs" checked />
							<label for="rm-costs-self" class="form-check-label">Ich trage die Kosten selbst</label>
						</div>
					</div>
				</div>

				<div class="row g-3 mb-3" id="rm-invoice">
					<div class="col-12 mb-1">
						<h4 class="h4 mb-0">Rechnungsanschrift</h4>
					</div>

					<div class="col-12 mt-0">
						<label for="rm-invoice-name" class="form-label">Name der Gliederung / des Verbands</label>
						<input id="rm-invoice-name" class="form-control"/>
					</div>

					<div class="col-sm-6">
						<label class="form-label">Adresse</label>
						<input id="rm-invoice-street" class="form-control" placeholder="Straße + Haus Nr." />
					</div>
					<div class="col-sm-6">
						<label class="form-label d-none d-sm-inline-block">&nbsp;</label>
						<div class="input-group">
							<input id="rm-invoice-zipcode" class="form-control" placeholder="PLZ" />
							<input id="rm-invoice-city" class="form-control" placeholder="Stadt" />
						</div>
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-12">
						<div class="form-check">
							<input id="rm-accept-terms" class="form-check-input" type="checkbox" required />
							<label for="rm-accept-terms" class="form-check-label fw-bold">
								Ich habe die <a href="@Url.Action("Index", "Terms")" class="blank">Teilnahmebedingungen</a> gelesen und akzeptiert
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer justify-content-between">
				<div class="form-check form-switch">
					<input id="rm-save-local" class="form-check-input" type="checkbox" />
					<label for="rm-save-local" class="form-check-label">Daten lokal speichern</label>
				</div>
				<div>
					<button type="button" class="btn btn-primary" id="rm-submit">Anmelden</button>
					<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Schließen</button>
				</div>

			</div>
		</div>
	</div>
</div>
