﻿@model TrainingViewModel
@{
	var authUser = Context.GetAuthUser();
}

<h1 class="h1" condition-class-text-decoration-line-through="@(Model.IsCancelled)">@Model.Title</h1>
<h3 class="h3 lead">
	@if (Model.Start.Date == Model.End.Date)
	{
		@(Model.Start.ToString("dd.MM.yyyy HH:mm"))
		<text> &ndash; </text>
		@(Model.End.ToString("HH:mm"))
	}
	else
	{
		@(Model.Start.ToString("dd.MM.yyyy"))
		<text> &ndash; </text>
		@(Model.End.ToString("dd.MM.yyyy"))
	}
	@(string.IsNullOrWhiteSpace(Model.Location) ? "" : " in " + Model.Location)
</h3>

@if (Model.IsCancelled)
{
	<div class="alert alert-danger" role="alert">
		<span class="fa-solid fa-exclamation-triangle"></span> Der Lehrgang wurde leider abgesagt!
	</div>
}

<div class="d-flex justify-content-between">
	<span>&nbsp;</span>
	<span>
		@if (authUser?.IsAdmin == true)
		{
			<a asp-area="" asp-controller="Trainings" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">
				<span class="fa-solid fa-pen"></span> bearbeiten
			</a>
		}
		@if (Model.CanRegister)
		{
			<button class="btn btn-primary register" data-id="@Model.Id">
				<span class="fa-solid fa-user-plus"></span> anmelden
			</button>
		}
	</span>
</div>

<p>
	@Html.Raw(Model.Description)
</p>

@foreach (var split in Model.Splits)
{
	<div class="row g-3 mb-3">
		<div class="col-sm-3 fw-bold">
			@split.Name
		</div>
		<div class="col-sm-9">
			<strong>
				@if (split.Start.Date == split.End.Date)
				{
					@(split.Start.ToString("dd.MM.yyyy HH:mm"))
					<text> &ndash; </text>
					@(split.End.ToString("HH:mm"))
				}
				else
				{
					@(split.Start.ToString("dd.MM.yyyy"))
					<text> &ndash; </text>
					@(split.End.ToString("dd.MM.yyyy"))
				}
			</strong>
			<br/>
			@split.Description
		</div>
	</div>
}

<hr class="text-muted" />

<div class="row g-3 mb-3">
	<div class="col-sm">
		<div class="row g-3 mb-3">
			<div class="col-sm-4 fw-bold">
				Zielgruppe
			</div>
			<div class="col-sm-8 tp-pre-line">@Model.TargetAudience</div>
		</div>
	</div>

	<div class="col-sm">
		<div class="row g-3 mb-3">
			<div class="col-sm-4 fw-bold">
				Beginn
			</div>
			<div class="col-sm-8">
				@Model.Start.ToString("HH:mm")
			</div>
		</div>
		<div class="row g-3 mb-3">
			<div class="col-sm-4 fw-bold">
				Ende
			</div>
			<div class="col-sm-8">
				@Model.End.ToString("HH:mm")
			</div>
		</div>
		<div class="row g-3 mb-3">
			<div class="col-sm-4 fw-bold">
				Ort
			</div>
			<div class="col-sm-8">
				@Model.Location
			</div>
		</div>
	</div>
</div>

<div class="row g-3 mb-3">
	<div class="col-sm">
		<div class="row g-3 mb-3">
			<div class="col-sm-4 fw-bold">
				Voraussetzungen
			</div>
			<div class="col-sm-8">@Html.Raw(Model.EntryRequirements)</div>
		</div>
	</div>

	<div class="col-sm">
		<div class="row g-3 mb-3">
			<div class="col-sm-4 fw-bold">
				Teilnahmegebühr
			</div>
			<div class="col-sm-8 tp-pre-line">@Model.Costs</div>
		</div>
	</div>
</div>

<div class="row g-3 mb-3">
	<div class="col-sm">
		<div class="row g-3 mb-3">
			<div class="col-sm-4 fw-bold">
				Freie Plätze
			</div>
			<div class="col-sm-8 available-count" data-id="@Model.Id">
				@if (Model.AvailableCount.HasValue)
				{
					<text>noch </text>
					@Model.AvailableCount
					@if (Model.AvailableCount == 1)
					{
						<text> Platz</text>
					}
					else
					{
						<text> Plätze</text>
					}
					<text> frei</text>
				}
				else
				{
					<text>Keine Begrenzung</text>
				}
			</div>
		</div>
	</div>

	<div class="col-sm">
		<div class="row g-3 mb-3">
			<div class="col-sm-4 fw-bold">
				Dozenten
			</div>
			<div class="col-sm-8 tp-pre-line">@Model.Lecturers</div>
		</div>
	</div>
</div>

<div class="row g-3 mb-3">
	<div class="col-sm-2 fw-bold">
		Hinweis
	</div>
	<div class="col-sm-10">
		@Html.Raw(Model.Hints)
	</div>
</div>

<div class="d-flex justify-content-between">
	<span>&nbsp;</span>
	<span>
		@if (authUser?.IsAdmin == true)
		{
			<a asp-area="" asp-controller="Trainings" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">
				<span class="fa-solid fa-pen"></span> bearbeiten
			</a>
		}
		@if (Model.CanRegister)
		{
			<button class="btn btn-primary register" data-id="@Model.Id">
				<span class="fa-solid fa-user-plus"></span> anmelden
			</button>
		}
	</span>
</div>

<partial name="_Register" />

@section Scripts {
	<environment include="Development">
		<script type="text/javascript" src="~/js/pages/trainings.js?v=@(Program.StartupTime.ToString("yyyyMMddHHmm"))" asp-integrity="false"></script>
	</environment>
	<environment exclude="Development">
		<script type="text/javascript" src="~/js/pages/trainings.js?v=@(Program.Version)" asp-integrity="true"></script>
	</environment>

	<script type="text/javascript">
		Trainings.InitializeDetails({
			get: '@Url.Action("Get", "Trainings")',
			register: '@Url.Action("Register", "Trainings")',
			cancel: '@Url.Action("Cancel", "Trainings")',
			delete: '@Url.Action("Delete", "Trainings")',
			toggleEnable: '@Url.Action("ToggleEnable", "Trainings")',
			togglePublic: '@Url.Action("TogglePublic", "Trainings")',
		});
	</script>
}
