﻿@model TrainingViewModel
@{
	string timeVersion = Program.StartupTime.ToString("yyyyMMddHHmm");
}

<h1 class="h1"><span class="fa-solid fa-chalkboard"></span> @ViewBag.ViewTitle</h1>

<form asp-area="" asp-controller="Trainings" asp-action="Edit" asp-route-id="" method="post">
	<input asp-for="Id" type="hidden" value="@(Model.Id)" />

	<div class="row g-3 mb-3">
		<div class="col-12">
			<label asp-for="Title" class="form-label">Titel</label>
			<input asp-for="Title" class="form-control" />
			<span asp-validation-for="Title"></span>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label class="form-label">Zeitraum (gesamt)</label>
			<div class="input-group">
				<input asp-for="Start" class="form-control" />
				<span class="input-group-text">bis</span>
				<input asp-for="End" class="form-control" />
			</div>
			<span asp-validation-for="Start"></span>
			<span asp-validation-for="End"></span>
		</div>
		<div class="col-sm">
			<label asp-for="Location" class="form-label">Lehrgangsort</label>
			<input asp-for="Location" class="form-control" />
			<span asp-validation-for="Location"></span>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-12">
			<label asp-for="ShortDescription" class="form-label">Kurzbeschreibung (Übersicht)</label>
			<textarea asp-for="ShortDescription" class="form-control"></textarea>
			<span asp-validation-for="ShortDescription"></span>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-12">
			<label asp-for="Description" class="form-label">Beschreibung (Detail)</label>
			<textarea asp-for="Description" class="form-control"></textarea>
			<span asp-validation-for="Description"></span>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-12">
			<label asp-for="SplitsJson" class="form-label">Termine (bei z.B. mehreren Wochenenden)</label>
			<input asp-for="SplitsJson" type="hidden" />
			<div class="table-responsive">
				<table class="table table-sm" id="split-table">
					<thead class="table-light">
						<tr>
							<th scope="col">Name</th>
							<th scope="col">Beginn</th>
							<th scope="col">Ende</th>
							<th scope="col">Beschreibung</th>
							<th scope="col" class="text-end">
								<button type="button" class="btn btn-sm btn-success" id="add-split" title="Abschnitt hinzufügen">
									<span class="fa-solid fa-fw fa-plus"></span>
								</button>
							</th>
						</tr>
					</thead>
					<tbody class="tp-template">
						<tr>
							<td><input data-value="name" class="form-control form-control-sm" /></td>
							<td><input data-value="start" class="form-control form-control-sm" type="datetime-local" /></td>
							<td><input data-value="end" class="form-control form-control-sm" type="datetime-local" /></td>
							<td><input data-value="description" class="form-control form-control-sm" /></td>
							<td class="text-end">
								<button type="button" class="btn btn-sm btn-outline-danger del-split" title="Abschnitt löschen">
									<span class="fa-solid fa-fw fa-minus"></span>
								</button>
							</td>
						</tr>
					</tbody>
					<tbody class="items"></tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="TargetAudience" class="form-label">Zielgruppe</label>
			<textarea asp-for="TargetAudience" class="form-control" rows="2"></textarea>
			<span asp-validation-for="TargetAudience"></span>
		</div>

		<div class="col-sm">
			<label asp-for="EntryRequirements" class="form-label">Voraussetzungen</label>
			<textarea asp-for="EntryRequirements" class="form-control"></textarea>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="Costs" class="form-label">Teilnahmegebühr</label>
			<textarea asp-for="Costs" class="form-control" rows="2"></textarea>
			<span asp-validation-for="Costs"></span>
		</div>

		<div class="col-sm">
			<label asp-for="Lecturers" class="form-label">Dozenten</label>
			<textarea asp-for="Lecturers" class="form-control" rows="2"></textarea>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label class="form-label">Teilnehmerzahl (min/max)</label>
			<div class="input-group">
				<input asp-for="MinParticipants" class="form-control" placeholder="Minimale Teilnehmerzahl" title="Untere Grenze, damit der Lehrgang stattfinden kann" />
				<input asp-for="MaxParticipants" class="form-control" placeholder="Maximale Teilnehmerzahl" title="Obere Grenze, danach ist der Lehrgang voll" />
			</div>
		</div>

		<div class="col-sm">
			&nbsp;
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-12">
			<label asp-for="Hints" class="form-label">Hinweis</label>
			<textarea asp-for="Hints" class="form-control"></textarea>
		</div>
	</div>

	<hr class="mt-2" />

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="DeadlineDays" class="form-label">Anmeldeschluss</label>
			<div class="input-group">
				<input asp-for="DeadlineDays" class="form-control" />
				<span class="input-group-text">Tage vor Beginn</span>
			</div>
		</div>
		<div class="col-sm">
			<label asp-for="ReminderDays" class="form-label">Erinnerung für Organisator</label>
			<div class="input-group">
				<input asp-for="ReminderDays" class="form-control" />
				<span class="input-group-text">Tage vor Beginn</span>
			</div>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm-auto">
			<div class="form-check">
				<input asp-for="IsEnabled" class="form-check-input" type="checkbox" />
				<label asp-for="IsEnabled" class="form-check-label">Lehrgang ist freigegeben</label>
			</div>
		</div>
		<div class="col-sm-auto">
			<div class="form-check">
				<input asp-for="IsPublic" class="form-check-input" type="checkbox" />
				<label asp-for="IsPublic" class="form-check-label">Lehrgang ist öffentlich</label>
			</div>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-12">
			<button type="submit" class="btn btn-outline-primary" disabled="@(Model.IsCancelled)">Speichern</button>
			<a asp-controller="Trainings" asp-action="Index" asp-route-id="" class="btn btn-outline-secondary">Abbrechen</a>
			<button type="submit" class="btn btn-outline-danger" asp-action="Delete" name="id" value="@Model.Id" id="delete" disabled="@(string.IsNullOrWhiteSpace(Model.Id))">Löschen</button>
		</div>
	</div>
</form>

@section Styles {
	<environment include="Development">
		<link rel="stylesheet" type="text/css" href="~/lib/summernote/dist/summernote-bs5.css?v=@(timeVersion)" asp-integrity="false" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" type="text/css" href="~/lib/summernote/dist/summernote-bs5.min.css?v=@(Program.Version)" asp-integrity="true" />
	</environment>
}

@section Scripts {
	<environment include="Development">
		<script type="text/javascript" src="~/lib/summernote/dist/summernote-bs5.js?v=@(timeVersion)" asp-integrity="false"></script>
		<script type="text/javascript" src="~/lib/summernote/dist/lang/summernote-en-US.js?v=@(timeVersion)" asp-integrity="false"></script>
		<script type="text/javascript" src="~/lib/summernote/dist/lang/summernote-de-DE.js?v=@(timeVersion)" asp-integrity="false"></script>
		<script type="text/javascript" src="~/js/pages/trainings.js?v=@(timeVersion)" asp-integrity="false"></script>
	</environment>
	<environment exclude="Development">
		<script type="text/javascript" src="~/lib/summernote/dist/summernote-bs5.min.js?v=@(Program.Version)" asp-integrity="true"></script>
		<script type="text/javascript" src="~/lib/summernote/dist/lang/summernote-en-US.min.js?v=@(Program.Version)" asp-integrity="true"></script>
		<script type="text/javascript" src="~/lib/summernote/dist/lang/summernote-de-DE.min.js?v=@(Program.Version)" asp-integrity="true"></script>
		<script type="text/javascript" src="~/js/pages/trainings.js?v=@(Program.Version)" asp-integrity="true"></script>
	</environment>

	<script type="text/javascript">
		Trainings.InitializeEdit({
			get: '@Url.Action("Get", "Trainings")',
			register: '@Url.Action("Register", "Trainings")',
			cancel: '@Url.Action("Cancel", "Trainings")',
			delete: '@Url.Action("Delete", "Trainings")',
			toggleEnable: '@Url.Action("ToggleEnable", "Trainings")',
			togglePublic: '@Url.Action("TogglePublic", "Trainings")',
		});
	</script>
}
