﻿@model TrainingViewModel
@{
	string timeVersion = Program.StartupTime.ToString("yyyyMMddHHmm");
	var authUser = Context.GetAuthUser();
}

<h1 class="h1 display-3 mb-4">Übersicht</h1>

@if (authUser?.IsAdmin == true)
{
	<div class="row g-3 mb-4">
		<div class="col-12">
			<a asp-area="" asp-controller="Trainings" asp-action="Create" asp-route-id="" class="btn btn-success">
				<span class="fa-solid fa-fw fa-plus"></span> Neuer Lehrgang
			</a>
			<a asp-area="" asp-controller="Trainings" asp-action="History" asp-route-id="" class="btn btn-secondary disabled">
				<span class="fa-solid fa-fw fa-clock-rotate-left"></span> Historie
			</a>
		</div>
	</div>
}

@if (Model.Trainings.Any())
{
	@foreach (var training in Model.Trainings)
	{
		<div class="card mb-4 position-relative" condition-class-text-muted="@(!training.IsEnabled)">
			<div class="card-body">
				<h2 class="h3 card-title d-flex justify-content-between"
					condition-class-text-decoration-line-through="@(training.IsCancelled)">
					<a asp-area="" asp-controller="Trainings" asp-action="Details" asp-route-id="@training.Id">
						@training.Title
					</a>
					<span>
						@if (training.CanRegister && training.IsEnabled)
						{
							<button class="btn btn-sm btn-outline-primary register" title="anmelden" data-id="@training.Id">
								<span class="fa-solid fa-fw fa-user-plus"></span>
							</button>
						}
					</span>
				</h2>
				<h4 class="h6 card-subtitle mb-2" condition-class-text-decoration-line-through="@(training.IsCancelled)">
					@if (training.Start.Date == training.End.Date)
					{
						@(training.Start.ToString("dd.MM.yyyy HH:mm"))
						<text>&ndash;</text>
						@(training.End.ToString("HH:mm"))
					}
					else
					{
						@(training.Start.ToString("dd.MM.yyyy"))
						<text>&ndash;</text>
						@(training.End.ToString("dd.MM.yyyy"))
					}
					@(string.IsNullOrWhiteSpace(training.Location) ? "" : " in " + training.Location)
				</h4>
				<p class="card-text">
					@Html.Raw(training.ShortDescription)
				</p>
			</div>
	
			@if (authUser?.IsAdmin == true)
			{
				<div class="card-footer d-flex justify-content-between">
					<div>
						<button tpye="button" class="btn btn-sm btn-light toggle-enable" title="@(training.IsEnabled ? "freigegeben" : "gesperrt")" data-id="@training.Id">
							<span class="fa-solid fa-fw @(training.IsEnabled ? "fa-toggle-on" : "fa-toggle-off")"></span>
						</button>
						<button tpye="button" class="btn btn-sm btn-light toggle-public" title="@(training.IsPublic ? "öffentlich" : "intern")" data-id="@training.Id">
							<span class="fa-solid fa-fw @(training.IsPublic ? "fa-users" : "fa-shield")"></span>
						</button>
					</div>
	
					<div>
						<a asp-area="" asp-controller="Trainings" asp-action="Participants" asp-route-id="@training.Id" class="btn btn-sm btn-secondary" title="Teilnehmerliste">
							<span class="fa-solid fa-fw fa-list"></span>
						</a>
						<a asp-area="" asp-controller="Trainings" asp-action="Edit" asp-route-id="@training.Id" class="btn btn-sm btn-primary" title="bearbeiten">
							<span class="fa-solid fa-fw fa-pen"></span>
						</a>
						<button type="button" class="btn btn-sm btn-warning cancel" title="absagen" data-id="@training.Id" disabled="@(training.IsCancelled)">
							<span class="fa-solid fa-fw fa-ban"></span>
						</button>
						<button type="button" class="btn btn-sm btn-danger delete" title="löschen" data-id="@training.Id">
							<span class="fa-solid fa-fw fa-trash"></span>
						</button>
					</div>
				</div>
			}
	
			@if (training.CanRegister)
			{
				<span class="position-absolute top-0 start-50 translate-middle badge tp-available-info">
					<span class="available-count" data-id="@training.Id">
						@if (training.AvailableCount.HasValue)
						{
							@(training.AvailableCount)
							if (training.AvailableCount == 1)
							{
								<text> freier Platz</text>
							}
							else
							{
								<text> freie Plätze</text>
							}
						}
						else
						{
							<text><span class="fa-solid fa-infinity"></span> freie Plätze</text>
						}
					</span>
				</span>
			}
		</div>
	}
}
else
{
	<div class="alert alert-info text-center" role="alert">
		<span class="fa-solid fa-circle-info"></span> Leider sind derzeit keine Lehrgänge verfügbar
	</div>
}

<partial name="_Register" />

<div class="modal fade" id="cancel-modal" tabindex="-1" aria-labelledby="cm-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cm-title"><span class="fa-solid fa-ban"></span> Lehrgang absagen</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
			</div>
			<div class="modal-body">
				<div class="row g-3 mb-3">
					<div class="col">
						<label for="cm-training" class="form-label">Ausgewählter Lehrgang</label>
						<input id="cm-training" class="form-control" readonly />
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col">
						<textarea id="cm-reason" class="form-control"></textarea>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="cm-submit">Absagen</button>
				<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Abbrechen</button>
			</div>
		</div>
	</div>
</div>

@section Styles {
	<environment include="Development">
		<link rel="stylesheet" type="text/css" href="~/lib/summernote/dist/summernote-bs5.css?v=@(timeVersion)" asp-integrity="false" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" type="text/css" href="~/lib/summernote/dist/summernote-bs5.min.css?v=@(Program.Version)" asp-integrity="true" />
	</environment>
}

@section Scripts {
	<environment include="Development">
		<script type="text/javascript" src="~/lib/summernote/dist/summernote-bs5.js?v=@(timeVersion)" asp-integrity="false"></script>
		<script type="text/javascript" src="~/lib/summernote/dist/lang/summernote-en-US.js?v=@(timeVersion)" asp-integrity="false"></script>
		<script type="text/javascript" src="~/lib/summernote/dist/lang/summernote-de-DE.js?v=@(timeVersion)" asp-integrity="false"></script>
		<script type="text/javascript" src="~/js/pages/trainings.js?v=@(timeVersion)" asp-integrity="false"></script>
	</environment>
	<environment exclude="Development">
		<script type="text/javascript" src="~/lib/summernote/dist/summernote-bs5.min.js?v=@(Program.Version)" asp-integrity="true"></script>
		<script type="text/javascript" src="~/lib/summernote/dist/lang/summernote-en-US.min.js?v=@(Program.Version)" asp-integrity="true"></script>
		<script type="text/javascript" src="~/lib/summernote/dist/lang/summernote-de-DE.min.js?v=@(Program.Version)" asp-integrity="true"></script>
		<script type="text/javascript" src="~/js/pages/trainings.js?v=@(Program.Version)" asp-integrity="true"></script>
	</environment>

	<script type="text/javascript">
		Trainings.InitializeIndex({
			get: '@Url.Action("Get", "Trainings")',
			register: '@Url.Action("Register", "Trainings")',
			cancel: '@Url.Action("Cancel", "Trainings")',
			delete: '@Url.Action("Delete", "Trainings")',
			toggleEnable: '@Url.Action("ToggleEnable", "Trainings")',
			togglePublic: '@Url.Action("TogglePublic", "Trainings")',
		});
	</script>
}
