﻿@using AMWD.ASBHE.TrainingPlanning.Database.Entities
@using AMWD.ASBHE.TrainingPlanning.Extensions
@model TrainingParticipantsViewModel
@{
	string timeVersion = Program.StartupTime.ToString("yyyyMMddHHmm");
	var authUser = Context.GetAuthUser();
}

<h1 class="h1 display-3 mb-4">Teilnehmerliste</h1>
<h3 class="h3 lead">für @ViewBag.ViewTitle</h3>

<div class="table-responsive">
	<table class="table tp-header-nowrap">
		<thead class="table-light">
			<tr>
				<th scope="col" class="tp-table-check">
					<input class="form-check-input check-all-parent" type="checkbox" aria-label="alle auswählen" />
				</th>
				<th scope="col">Vorname</th>
				<th scope="col">Nachname</th>
				<th scope="col">E-Mail Adresse</th>
				<th scope="col">Telefon</th>
				<th scope="col">Geburtsdatum</th>
				<th scope="col">Geburtsort</th>
				<th scope="col">Gliederung</th>
				<th scope="col">Straße + Haus Nr.</th>
				<th scope="col">Adress-Zusatz</th>
				<th scope="col">PLZ</th>
				<th scope="col">Stadt</th>
				<th scope="col">Land</th>
				<th scope="col">Führerscheinklassen</th>
				<th scope="col" class="text-center">Fahrberechtigung</th>
				<th scope="col" class="text-center">Assistenz-Bedarf</th>
				<th scope="col">Übernachtung</th>
				<th scope="col">Essenswunsch</th>
				<th scope="col">Allergien</th>
				<th scope="col" class="text-center">Kostenübernahme</th>
				<th scope="col" class="text-end" style="min-width: 84px;">
					<button type="button" class="btn btn-sm btn-success" title="Teilnehmer hinzufügen">
						<span class="fa-solid fa-fw fa-plus"></span>
					</button>
					<button type="button" class="btn btn-sm btn-danger" title="Teilnehmer löschen" disabled>
						<span class="fa-solid fa-fw fa-trash"></span>
					</button>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var participant in Model.Participants)
			{
				<tr>
					<td class="tp-table-check">
						<input class="form-check-input check-all-child" type="checkbox" value="@participant.Id" aria-label="auswählen" />
					</td>
					<td>@participant.FirstName</td>
					<td>@participant.LastName</td>
					<td>@participant.EmailAddress</td>
					<td>@participant.PhoneNumber</td>
					<td>@participant.Birthday.ToString("dd.MM.yyyy")</td>
					<td>@participant.PlaceOfBirth</td>
					<td>
						<!-- TODO: Übernahme von Differenz -->
						@(participant.ParticipantDepartmentName ?? participant.RegistrationDepartmentName ?? participant.ExternalDepartment)
					</td>
					<td>
						<!-- TODO: Übernahme von Differenz -->
						@participant.ParticipantStreet
					</td>
					<td>
						<!-- TODO: Übernahme von Differenz -->
						@participant.ParticipantAddition
					</td>
					<td>
						<!-- TODO: Übernahme von Differenz -->
						@participant.ParticipantZipCode
					</td>
					<td>
						<!-- TODO: Übernahme von Differenz -->
						@participant.ParticipantCity
					</td>
					<td>
						<!-- TODO: Übernahme von Differenz -->
						@participant.ParticipantCountry
					</td>
					<td>
						<!-- TODO: Übernahme von Differenz -->
						@participant.ParticipantDriverLicenseClasses
					</td>
					<td class="text-center">
						<!-- TODO: Übernahme von Differenz -->
						<span class="fa-solid fa-fw"
							  condition-class-fa-check="@(participant.ParticipantDriverPermission)"
							  condition-class-text-success="@(participant.ParticipantDriverPermission)"
							  condition-class-fa-times="@(!participant.ParticipantDriverPermission)"
							  condition-class-text-danger="@(!participant.ParticipantDriverPermission)"></span>
					</td>
					<td class="text-center">
						<span class="fa-solid fa-fw"
							  condition-class-fa-hands-asl-interpreting="@(participant.AssistanceRequired)"
							  condition-class-text-info="@(participant.AssistanceRequired)"
							  condition-class-fa-minus="@(!participant.AssistanceRequired)"></span>
					</td>
					<td>@participant.HotelRequirement.GetDisplayName()</td>
					<td>@participant.FoodSelection?.GetDisplayName()</td>
					<td>@participant.Allergies</td>
					<td class="text-center">
						<button type="button" class="btn btn-sm tp-popover" data-target="#payment-info-@(participant.Id)" data-bs-html="true" data-tp-class="tp-popover-asb">
							<span class="fa-solid fa-fw"
								condition-class-fa-building="@(participant.AssumptionOfCosts)"
								condition-class-fa-user="@(!participant.AssumptionOfCosts)"></span>
						</button>
						<div class="tp-popover-toggle" id="payment-info-@(participant.Id)">
							<div class="tp-popover-title">Rechnungsadresse</div>
							@if (participant.AssumptionOfCosts)
							{
								<div class="tp-popover-content">
									@(participant.InvoiceName)
									<br/>
									@(participant.InvoiceStreet)
									<br/>
									@(participant.InvoiceZipCode) @(participant.InvoiceCity)
									@if (!string.IsNullOrWhiteSpace(participant.InvoiceCountry))
									{
										<br/>
										@(participant.InvoiceCountry)
									}
								</div>
							}
							else
							{
								<div class="tp-popover-content">
									@(participant.FirstName) @(participant.LastName)
									<br/>
									@(participant.ParticipantStreet)
									<br />
									@(participant.ParticipantZipCode) @(participant.ParticipantCity)
									@if (!string.IsNullOrWhiteSpace(participant.ParticipantCountry))
									{
										<br />
										@(participant.ParticipantCountry)
									}
								</div>
							}
						</div>
					</td>
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-outline-primary" title="Notizen">
							<span class="fa-solid fa-fw fa-comment-dots"></span>
						</button>
						<button type="button" class="btn btn-sm btn-outline-danger" title="Teilnehmer löschen">
							<span class="fa-solid fa-fw fa-trash"></span>
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
