﻿@model DepartmentViewModel

<h1 class="h1"><span class="fa-solid fa-fw fa-building-user"></span> Bereich</h1>

<form asp-area="" asp-controller="Departments" asp-action="Edit" asp-route-id="" method="post">
	<input asp-for="Id" type="hidden" value="@Model.Id" />

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="Name" class="form-label">Name</label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name"></span>
		</div>
		<div class="col-sm">
			<label asp-for="Contact" class="form-label">Ansprechpartner</label>
			<input asp-for="Contact" class="form-control" />
			<span asp-validation-for="Contact"></span>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="EmailAddress" class="form-label">E-Mail Adresse</label>
			<input asp-for="EmailAddress" class="form-control" type="email" />
			<span asp-validation-for="EmailAddress"></span>
		</div>
		<div class="col-sm">
			<label asp-for="PhoneNumber" class="form-label">Telefon</label>
			<input asp-for="PhoneNumber" class="form-control" type="tel" />
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label class="form-label">Adresse</label>
			<div class="input-group">
				<input asp-for="Street" class="form-control" placeholder="Straße + Haus Nr." />
			</div>
		</div>
		<div class="col-sm">
			<label class="form-label d-none d-sm-block">&nbsp;</label>
			<div class="input-group">
				<input asp-for="ZipCode" class="form-control" placeholder="PLZ" />
				<input asp-for="City" class="form-control" placeholder="Stadt" />
			</div>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="AddressAddition" class="form-label">Adress-Zusatz</label>
			<input asp-for="AddressAddition" class="form-control" />
		</div>
		<div class="col-sm">
			<label asp-for="Country" class="form-label">Land</label>
			<input asp-for="Country" class="form-control" />
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<div class="form-check form-switch">
				<input asp-for="IsDeleted" class="form-check-input" type="checkbox" />
				<label asp-for="IsDeleted" class="form-check-label">gelöscht</label>
			</div>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<button type="submit" class="btn btn-outline-primary">Speichern</button>
			<a asp-area="" asp-controller="Departments" asp-action="Index" asp-route-id="" class="btn btn-outline-secondary">Abbrechen</a>
		</div>
	</div>
</form>
