﻿@model DepartmentViewModel

<h1 class="h1"><span class="fa-solid fa-fw fa-building-user"></span> Bereiche</h1>

<div class="table-responsive">
	<table class="table">
		<thead class="table-light">
			<tr>
				<th scope="col">Name</th>
				<th scope="col">Ansprechpartner</th>
				<th scope="col">Erreichbarkeit (E-Mail/Telefon)</th>
				<th scope="col" class="text-end">
					<a asp-area="" asp-controller="Departments" asp-action="Create" asp-route-id="" class="btn btn-sm btn-success" title="Neuer Bereich">
						<span class="fa-solid fa-fw fa-plus"></span>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var department in Model.Departments)
			{
				<tr condition-class-text-decoration-line-through="@(department.IsDeleted)">
					<td>@department.Name</td>
					<td>@department.Contact</td>
					<td>
						@department.EmailAddress / @department.PhoneNumber
					</td>
					<td class="text-end">
						<a asp-area="" asp-controller="Departments" asp-action="Edit" asp-route-id="@department.Id" class="btn btn-sm btn-outline-primary" title="bearbeiten">
							<span class="fa-solid fa-fw fa-pen"></span>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
