﻿<h4 class="h4">SignalR Test</h4>

<div class="alert alert-info" role="alert">
	<span class="fa-solid fa-circle-info"></span> Hiermit lassen sich alle Events simulieren.
</div>

<div class="row g-3 mb-3">
	<div class="col-sm">
		<label for="signalr-method-name" class="form-label">Methodenname</label>
		<select id="signalr-method-name" class="form-select">
			<option value=""></option>
			<option value="UpdateAvailableCount">UpdateAvailableCount</option>
		</select>
	</div>
</div>

<div class="row g-3 mb-3">
	<label class="form-label">Parameter</label>
	<div class="table-responsive">
		<table class="table" id="signalr-params">
			<thead class="table-light">
				<tr class="align-middle">
					<th scope="col">Type</th>
					<th scope="col">Wert</th>
					<th scope="col" class="text-end">
						<button type="button" class="btn btn-success" id="signalr-param-add" title="Neuer Parameter">
							<span class="fa-solid fa-fw fa-plus"></span>
						</button>
					</th>
				</tr>
			</thead>
			<tbody class="tp-template">
				<tr>
					<td>
						<select class="form-select signalr-type">
							<option value="string">Text</option>
							<option value="number">Zahl</option>
							<option value="array-string">Text-Liste</option>
							<option value="array-number">Zahlen-Liste</option>
							<option value="object">Objekt (JSON)</option>
						</select>
					</td>
					<td>
						<div class="input-group">
							<input class="form-control signalr-value" />
							<div class="input-group-text">
								<div class="form-check">
									<input class="form-check-input signalr-value-null" type="checkbox" />
									<label class="form-check-label">null</label>
								</div>

							</div>
						</div>
					</td>
					<td class="text-end">
						<button type="button" class="btn btn-outline-danger signalr-param-del">
							<span class="fa-solid fa-fw fa-minus"></span>
						</button>
					</td>
				</tr>
			</tbody>
			<tbody class="items"><!-- JavaScript --></tbody>
		</table>
	</div>
</div>

<div class="row g-3 mb-3">
	<div class="col-sm">
		<button type="button" class="btn btn-outline-primary" id="signalr-send">Senden</button>
	</div>
</div>
