﻿<h4 class="h4">SMTP Einstellungen</h4>

<div class="alert alert-info" role="alert" id="smtp-alert">
	<span class="fa-solid fa-circle-info"></span> Derzeit sind keine Einstellungen gespeichert.
</div>

<div class="row g-3 mb-3">
	<div class="col-sm">
		<label for="smtp-host" class="form-label">SMTP Server</label>
		<input id="smtp-host" class="form-control" data-value="host" />
	</div>

	<div class="col-sm">
		<label for="smtp-port" class="form-label">SMTP Port</label>
		<input id="smtp-port" class="form-control" type="number" min="@(ushort.MinValue)" max="@(ushort.MaxValue)" data-value="port" />
	</div>
</div>

<div class="row g-3 mb-3">
	<div class="col-sm">
		<div class="form-check form-switch">
			<input id="smtp-starttls" class="form-check-input" type="checkbox" data-value="startTls" />
			<label for="smtp-starttls" class="form-check-label">Start TLS</label>
		</div>
	</div>
	<div class="col-sm">
		<div class="form-check form-switch">
			<input id="smtp-ssl" class="form-check-input" type="checkbox" data-value="ssl" />
			<label for="smtp-ssl" class="form-check-label">SSL</label>
		</div>
	</div>
	<div class="col-sm">
		<div class="form-check form-switch">
			<input id="smtp-validate-certificates" class="form-check-input" type="checkbox" data-value="validateCertificates" />
			<label for="smtp-validate-certificates" class="form-check-label">Zertifikate prüfen</label>
		</div>
	</div>
	<div class="col-sm">
		<div class="form-check form-switch">
			<input id="smtp-check-revocation-list" class="form-check-input" type="checkbox" data-value="checkRevocationList" />
			<label for="smtp-check-revocation-list" class="form-check-label">Zertifikat-Widerrufe prüfen</label>
		</div>
	</div>
</div>

<div class="row g-3 mb-3">
	<div class="col-sm">
		<label for="smtp-username" class="form-label">Benutzername</label>
		<input id="smtp-username" class="form-control" data-value="username" />
	</div>

	<div class="col-sm">
		<label for="smtp-password" class="form-label">Kennwort</label>
		<div class="input-group">
			<input id="smtp-password" class="form-control" type="password" data-value="password" />
			<button type="button" class="btn btn-outline-secondary toggle-password">
				<span class="fa-solid fa-fw fa-eye"></span>
			</button>
		</div>
	</div>
</div>

<div class="row g-3 mb-3">
	<div class="col-sm">
		<label for="smtp-sender" class="form-label">E-Mail Adresse (Absender)</label>
		<input id="smtp-sender" class="form-control" data-value="sender" />
	</div>

	<div class="col-sm">
		<label for="smtp-name" class="form-label">Name (Absender)</label>
		<input id="smtp-name" class="form-control" data-value="name" />
	</div>

	<div class="col-sm">
		<label for="smtp-subject-tag" class="form-label">Betreff Tag</label>
		<input id="smtp-subject-tag" class="form-control" data-value="subjectTag" />
	</div>

	<div class="col-sm">
		<label class="form-label d-none d-sm-inline-block">&nbsp;</label>
		<div class="form-check form-switch mt-0 mt-sm-2">
			<input id="smtp-self-on-bcc" class="form-check-input" type="checkbox" data-value="sendSelfOnBcc" />
			<label for="smtp-self-on-bcc" class="form-check-label">Absender als Empfänger bei BCC</label>
		</div>
	</div>
</div>

<div class="row g-3 mb-3">
	<div class="col-sm">
		<button type="button" class="btn btn-outline-primary" id="smtp-save">Speichern</button>
		<button type="button" class="btn btn-outline-danger" id="smtp-delete">Löschen</button>
	</div>
</div>
