﻿<h4 class="h4">Teilnahmebedingungen</h4>

<div class="row g-3 mb-3">
	<div class="col">
		<textarea id="terms-content" class="form-control"></textarea>
	</div>
</div>

<div class="row g-3 mb-3">
	<div class="col-sm">
		<button type="button" class="btn btn-outline-primary" id="terms-save">Speichern</button>
	</div>
</div>
