﻿@{
	string timeVersion = Program.StartupTime.ToString("yyyyMMddHHmm");
}
<h1 class="h1"><span class="fa-solid fa-gears"></span> Einstellungen</h1>

<ul class="nav nav-tabs" id="settings-tab" role="tablist">
	<li class="nav-item" role="presentation">
		<button type="button" class="nav-link active" role="tab" aria-controls="home-pane" aria-selected="true" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-pane" aria-label="Übersicht" title="Übersicht">
			<span class="fa-solid fa-fw fa-house"></span> <span class="visually-hidden">Übersicht</span>
		</button>
	</li>
	<li class="nav-item" role="presentation">
		<button type="button" class="nav-link" role="tab" aria-controls="smtp-pane" aria-selected="true" id="smtp-tab" data-bs-toggle="tab" data-bs-target="#smtp-pane" aria-label="SMTP Einstellungen" title="SMTP Einstellungen">
			<span class="fa-solid fa-fw fa-inbox"></span> <span class="visually-hidden">SMTP Einstellungen</span>
		</button>
	</li>
	<li class="nav-item" role="presentation">
		<button type="button" class="nav-link" role="tab" aria-controls="terms-pane" aria-selected="true" id="terms-tab" data-bs-toggle="tab" data-bs-target="#terms-pane" aria-label="Teilnahmebedingungen" title="Teilnahmebedingungen">
			<span class="fa-solid fa-fw fa-scroll"></span> <span class="visually-hidden">Teilnahmebedingungen</span>
		</button>
	</li>
	<li class="nav-item" role="presentation">
		<button type="button" class="nav-link" role="tab" aria-controls="signalr-pane" aria-selected="true" id="signalr-tab" data-bs-toggle="tab" data-bs-target="#signalr-pane" aria-label="SignalR Test" title="SignalR Test">
			<span class="fa-solid fa-fw fa-wifi"></span> <span class="visually-hidden">SignalR Test</span>
		</button>
	</li>
</ul>

<div class="tab-content" id="settings-panes">
	<div class="tab-pane fade p-3 show active" id="home-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="-1">
		<h4 class="h4">Übersicht</h4>
		<p>
			Hier können allgemeine Einstellungen zum System gemacht werden.
		</p>
		<ul>
			<li>Der SMTP-Server (E-Mail Versand) kann überschrieben werden. <em>Hinweis:</em> Es wird immer die gesamte Einstellung übernommen!</li>
			<li>Es können die <a asp-controller="Terms" asp-action="Index" asp-route-id="" class="blank">Teilnahmebedingungen</a> angepasst werden</li>
		</ul>
	</div>

	<div class="tab-pane fade p-3" id="smtp-pane" role="tabpanel" aria-labelledby="smtp-tab" tabindex="-1">
		<partial name="_SMTP" />
	</div>

	<div class="tab-pane fade p-3" id="terms-pane" role="tabpanel" aria-labelledby="terms-tab" tabindex="-1">
		<partial name="_Terms" />
	</div>

	<div class="tab-pane fade p-3" id="signalr-pane" role="tabpanel" aria-labelledby="signalr-tab" tabindex="-1">
		<partial name="_SignalR" />
	</div>
</div>

@section Styles {
	<environment include="Development">
		<link rel="stylesheet" type="text/css" href="~/lib/summernote/dist/summernote-bs5.css?v=@(timeVersion)" asp-integrity="false" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" type="text/css" href="~/lib/summernote/dist/summernote-bs5.min.css?v=@(Program.Version)" asp-integrity="true" />
	</environment>
}

@section Scripts {
	<environment include="Development">
		<script type="text/javascript" src="~/lib/summernote/dist/summernote-bs5.js?v=@(timeVersion)" asp-integrity="false"></script>
		<script type="text/javascript" src="~/lib/summernote/dist/lang/summernote-en-US.js?v=@(timeVersion)" asp-integrity="false"></script>
		<script type="text/javascript" src="~/lib/summernote/dist/lang/summernote-de-DE.js?v=@(timeVersion)" asp-integrity="false"></script>
		<script type="text/javascript" src="~/js/pages/settings.js?v=@(timeVersion)" asp-integrity="false"></script>
	</environment>
	<environment exclude="Development">
		<script type="text/javascript" src="~/lib/summernote/dist/summernote-bs5.min.js?v=@(Program.Version)" asp-integrity="true"></script>
		<script type="text/javascript" src="~/lib/summernote/dist/lang/summernote-en-US.min.js?v=@(Program.Version)" asp-integrity="true"></script>
		<script type="text/javascript" src="~/lib/summernote/dist/lang/summernote-de-DE.min.js?v=@(Program.Version)" asp-integrity="true"></script>
		<script type="text/javascript" src="~/js/pages/settings.js?v=@(Program.Version)" asp-integrity="true"></script>
	</environment>

	<script type="text/javascript">
		Settings.Initialize({
			get: '@Url.Action("Get", "Settings")',
			set: '@Url.Action("Set", "Settings")',
			delete: '@Url.Action("Delete", "Settings")'
		});
	</script>
}
