/// <reference path="../../../wwwroot/lib/bootstrap/scss/mixins/breakpoints" />
/// <reference path="../../../wwwroot/lib/bootstrap/scss/functions" />
/// <reference path="../../../wwwroot/lib/bootstrap/scss/variables" />
/// <reference path="settings" />

html {
	height: -webkit-fill-available;
}

body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

.main-page {
	display: flex;
	flex-wrap: nowrap;
	max-height: 100vh;
	overflow: hidden;
	height: -webkit-fill-available;
}

.sidebar {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	padding: 1rem;
	width: $sidebar-width;
	overflow-y: auto;
	z-index: 1;

	.dropdown-toggle {
		outline: 0;
	}

	ul.nav {
		ul.nav {
			display: none;
			margin-left: 1rem;

			&.active {
				display: block;
			}
		}
	}

	@media (max-width: 767.98px) {
		margin-left: -$sidebar-width;
		transition: margin 0.5s ease-in-out;

		&.active {
			margin-left: 0;
		}
	}
}

main {
	width: 100vw;

	@media (max-width: 767.98px) {
		min-width: 100vw;
	}
}

.main-content {
	height: 100vh;
	height: -webkit-fill-available;
	max-height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	padding-bottom: 45px;

	@media (min-width: 768px) {
		width: calc(100vw - $sidebar-width);
		padding-bottom: 0;
	}
}

.center-vertical {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: grid;
	align-content: center;
}

.center-horizontal {
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	margin-left: auto;
	margin-right: auto;
}
