/// <reference path="../../../wwwroot/lib/bootstrap/scss/mixins/breakpoints" />
/// <reference path="../../../wwwroot/lib/bootstrap/scss/functions" />
/// <reference path="../../../wwwroot/lib/bootstrap/scss/variables" />

.form-control {
	&.is-invalid {
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'><path stroke='%23dc3545' d='M0 0l3 3m0-3L0 3' /><circle r='.5' /><circle cx='3' r='.5' /><circle cy='3' r='.5' /><circle cx='3' cy='3' r='.5' /></svg>");
	}
}
