$font-normal: 'Noto Sans', 'Helvetica Neue', 'Arial', 'Segoe UI', sans-serif;
$font-code: 'Consolas', 'Menlo', 'Monaco', 'Courier New', monospace;

$sidebar-width: 300px;

// old CI colors
// =============
//$asb-red: #c80a14;
//$asb-yellow: #ffd813;

// new CI colors (since 11/2022)
// =============================

// primary colors
$asb-red: #e30613;
$asb-yellow: #ffee00;
$asb-black: #2d2d46;
// secondary colors
$asb-turquoise: #8cd2d2;
$asb-blue-dark: #143782;
$asb-orange: #f5a000;
$asb-blue: #2d46ff;

:root {
	--asb-red: $asb-red;
	--asb-yellow: $asb-yellow;
	--asb-black: $asb-black;
	// secondary colors
	--asb-turquoise: $asb-turquoise;
	--asb-blue-dark: $asb-blue-dark;
	--asb-orange: $asb-orange;
	--asb-blue: $asb-blue;
}
