@import '../../wwwroot/lib/bootstrap/scss/mixins/breakpoints';
@import '../../wwwroot/lib/bootstrap/scss/functions';
@import '../../wwwroot/lib/bootstrap/scss/variables';
@import 'global/settings';

.tp-template,
.tp-popover-toggle {
	display: none;
}

.tp-divider {
	height: 1.2rem;
	background-color: rgba($black, .1);
	border: solid rgba($black, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba($black, .1), inset 0 .125em .5em rgba($black, .15);
}

.tp-table-check {
	width: 30px;
	text-align: center;
}

.tp-pre-line {
	white-space: pre-line;
}

.tp-available-info {
	color: $asb-red;
	background-color: $asb-yellow;
}

.tp-header-nowrap {
	thead th {
		white-space: nowrap;
	}
}

.tp-popover-asb {
	border-color: $asb-black;

	&.bs-popover-top > .popover-arrow,
	&.bs-popover-auto[data-popper-placement^=top] > .popover-arrow {
		&::before {
			border-top-color: $asb-black;
		}
	}

	&.bs-popover-left > .popover-arrow,
	&.bs-popover-auto[data-popper-placement^=left] > .popover-arrow {
		&::before {
			border-left-color: $asb-black;
		}
	}

	&.bs-popover-bottom > .popover-arrow,
	&.bs-popover-auto[data-popper-placement^=bottom] > .popover-arrow {
		&::before {
			border-bottom-color: $asb-black;
		}
	}

	&.bs-popover-right > .popover-arrow,
	&.bs-popover-auto[data-popper-placement^=right] > .popover-arrow {
		&::before {
			border-right-color: $asb-black;
		}
	}

	.popover-header {
		color: $asb-red;
		background-color: $asb-yellow;
		border-bottom-color: $asb-yellow;
	}
}

.tp-popover-asb-blue {
	border-color: $asb-blue-dark;

	&.bs-popover-top > .popover-arrow,
	&.bs-popover-auto[data-popper-placement^=top] > .popover-arrow {
		&::before {
			border-top-color: $asb-blue-dark;
		}
	}

	&.bs-popover-left > .popover-arrow,
	&.bs-popover-auto[data-popper-placement^=left] > .popover-arrow {
		&::before {
			border-left-color: $asb-blue-dark;
		}
	}

	&.bs-popover-bottom > .popover-arrow,
	&.bs-popover-auto[data-popper-placement^=bottom] > .popover-arrow {
		&::before {
			border-bottom-color: $asb-blue-dark;
		}
	}

	&.bs-popover-right > .popover-arrow,
	&.bs-popover-auto[data-popper-placement^=right] > .popover-arrow {
		&::before {
			border-right-color: $asb-blue-dark;
		}
	}

	.popover-header {
		color: $white;
		background-color: $asb-blue-dark;
		border-bottom-color: $asb-blue-dark;
	}
}
