@import '../../wwwroot/lib/bootstrap/scss/mixins/breakpoints';
@import '../../wwwroot/lib/bootstrap/scss/functions';
@import '../../wwwroot/lib/bootstrap/scss/variables';
@import 'global/settings';

body {
	color: $asb-black;
	font-family: $font-normal;
}

code,
.code {
	font-family: $font-code;
}

.sidebar {
	color: $white;
	background-color: $asb-black;

	img {
		width: auto;
		height: auto;
		max-width: calc($sidebar-width - 4rem);
		max-height: 80px;
	}

	a {
		color: $white;
	}

	.dropdown-menu-dark {
		background-color: $asb-black;
	}

	.dropdown-item,
	.nav-link {
		&:not(.active) {
			&:hover,
			&:focus {
				color: $white;
				background-color: rgba($white, .1);
			}
		}

		&.active,
		&:active {
			color: $asb-yellow;
			background-color: rgba($asb-red, .5);
		}
	}

	@media (min-width: 768px) {
		box-shadow: 0 0.5rem 1rem rgba($asb-black, 0.15);
	}
}

.navbar-main {
	background-color: $asb-black;
	box-shadow: .5rem 0 1rem rgba($asb-black, .15);
	z-index: 1;

	.navbar-brand {
		color: $white;

		img {
			width: auto;
			height: auto;
			max-width: 50px;
			max-height: 24px;
			margin-top: -6px;
			margin-right: .8rem;
			border-radius: .2rem;
		}
	}

	.navbar-toggler {
		color: rgba($white, .66);
		border-color: rgba($white, .2);

		&:focus {
			box-shadow: none;
		}
	}
}

.text-caps {
	font-variant: small-caps;
}

.form-control {
	&.input-validation-error {
		border-color: $danger;
		padding-right: calc(1.5em + .75rem);
		background-repeat: no-repeat;
		background-position: right calc(.375em + .1875rem) center;
		background-size: calc(.75em + .375rem) calc(.75em + .375rem);
		background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'><path stroke='%23dc3545' d='M0 0l3 3m0-3L0 3' /><circle r='.5' /><circle cx='3' r='.5' /><circle cy='3' r='.5' /><circle cx='3' cy='3' r='.5' /></svg>");
		z-index: 2;

		&:focus {
			box-shadow: 0 0 0 .25rem rgba($danger, .25);
			z-index: 3;
		}
	}
}

.field-validation-error {
	color: $danger;
	margin-top: .25rem;
	font-size: .8em;
}

.footer {
	font-size: .85em;
}

.bg-login {
	background-color: #052f3e;
	background-repeat: no-repeat;
	// background-attachment: fixed;
	background-position-x: center;
	background-position-y: center;
	background-size: cover;

	html.webp & {
		background-image: url(../../wwwroot/images/abstract_pixabay-1779612.webp);
	}

	html.no-webp & {
		background-image: url(../../wwwroot/images/abstract_pixabay-1779612.png);
	}

	.nav-pills .nav-item .nav-link:not(.active) {
		color: $light;
		background-color: rgba($dark, .3);
	}

	.nav-justified .nav-item .nav-link {
		width: calc(100% - .5rem);
		margin-left: .25rem;
		margin-right: .25rem;
	}
}

.login {
	max-width: 500px;
	padding: .25rem 1rem;
}

.bg-error {
	background-color: $danger;
	background-repeat: no-repeat;
	// background-attachment: fixed;
	background-position-x: center;
	background-position-y: center;
	background-size: cover;

	html.webp & {
		background-image: url(../../wwwroot/images/road-sign_pixabay-663368.webp);
	}

	html.no-webp & {
		background-image: url(../../wwwroot/images/road-sign_pixabay-663368.jpg);
	}
}

.error {
	max-width: 700px;
	padding: .25rem 1rem;

	.error-shadow {
		padding: 1rem;
		border-radius: 1rem;
		background-color: rgba($light, .8);

		@media (min-width: 768px) {
			display: grid;
			grid-template-columns: max-content auto;
		}
	}

	.error-icon {
		font-size: 4.5rem;

		@media (max-width: 767.98px) {
			font-size: 6rem;
			text-align: center;
			line-height: 6rem;
		}
	}

	.error-title {
		font-size: 3.5rem;
		font-weight: 300;

		@media (max-width: 767.98px) {
			text-align: center;
		}
	}

	.error-body {
		font-size: 1.1rem;
		line-height: 1.1rem;
	}

	.error-text {
		@media (min-width: 768px) {
			margin-left: 1rem;
		}
	}

	code {
		font-size: 100%;
	}
}

//.card {
//	border-color: $asb-black;
//}

//a.card {
//	text-decoration: none;
//	color: $asb-black;
//
//	&:hover {
//		background-color: $light;
//	}
//}

.card-title {
	a:not(.btn) {
		color: initial;
		text-decoration: none;
	}
}
