﻿@model AccountViewModel
@{
	var authUser = Context.GetAuthUser();
}

<h1><span class="fa-solid fa-user"></span> Profil</h1>

<form asp-area="" asp-controller="Account" asp-action="Index" asp-route-id="" method="post">
	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="FirstName" class="form-label">Vorname</label>
			<input asp-for="FirstName" class="form-control" />
			<span asp-validation-for="FirstName"></span>
		</div>
		<div class="col-sm">
			<label asp-for="LastName" class="form-label">Nachname</label>
			<input asp-for="LastName" class="form-control" />
			<span asp-validation-for="LastName"></span>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="EmailAddress" class="form-label">E-Mail Adresse</label>
			<input asp-for="EmailAddress" class="form-control" type="email" />
			<span asp-validation-for="EmailAddress"></span>
		</div>
		<div class="col-sm">
			<label for="@(nameof(Model.Department))" class="form-label">Bereich</label>
			<input id="@(nameof(Model.Department))" class="form-control" value="@Model.Department?.Name" readonly />
		</div>
	</div>

	<div class="row g-3 mb-3 align-items-center">
		<div class="col-sm">
			<label asp-for="Password" class="form-label">Kennwort</label>
			<div class="input-group">
				<input asp-for="Password" class="form-control" type="password" />
				<button type="button" class="btn btn-outline-secondary random-password" title="Kennwort generieren"><span class="fa-solid fa-fw fa-sync"></span></button>
				<button type="button" class="btn btn-outline-secondary toggle-password" title="Kennwort ein-/ausblenden"><span class="fa-solid fa-fw fa-eye"></span></button>
			</div>
		</div>
		<div class="col-sm mt-0 mt-sm-3">
			<label class="d-none d-sm-block">&nbsp;</label>
			<span class="form-text">
				Nur angeben, um das Kennwort zu ändern
			</span>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<button type="submit" class="btn btn-outline-primary" disabled="@(authUser.ImpersonatingId.HasValue)">Speichern</button>
			<a asp-area="" asp-controller="Account" asp-action="Index" asp-route-id="" class="btn btn-outline-secondary">Abbrechen</a>
		</div>
	</div>
</form>
