﻿@model AccountViewModel

<div class="center-vertical bg-login">
	<div class="center-horizontal login">
		@if ((bool?)ViewBag.IsSuccess == true)
		{
			<div class="d-grid gap-1">
				<div class="alert alert-success text-center" role="alert">
					Die E-Mail wurde versendet
				</div>

				<div class="mb-3 text-end">
					<a asp-area="" asp-controller="Account" asp-action="Login" asp-route-id="" asp-route-ReturnUrl="@Model.ReturnUrl" class="btn btn-sm btn-dark">Zur Anmeldung</a>
				</div>
			</div>
		}
		else
		{
			<form asp-area="" asp-controller="Account" asp-action="LostPassword" asp-route-id="" method="post" class="d-grid gap-1">
				<input asp-for="ReturnUrl" type="hidden" value="@Model.ReturnUrl" />

				<div class="form-floating mb-1">
					<input asp-for="EmailAddress" class="form-control" type="email" placeholder="" autofocus />
					<label asp-for="EmailAddress">E-Mail Adresse</label>
				</div>
				<span asp-validation-for="EmailAddress"></span>

				<div class="mb-3 text-end">
					<a asp-area="" asp-controller="Account" asp-action="Login" asp-route-id="" asp-route-ReturnUrl="@Model.ReturnUrl" class="btn btn-sm btn-dark">Zur Anmeldung</a>
				</div>

				<button type="submit" class="btn btn-lg btn-primary">Kennwort zurücksetzen</button>
			</form>
		}
	</div>
</div>
