﻿@{
	string timeVersion = Program.StartupTime.ToString("yyyyMMddHHmm");
}
<environment include="Development">
	<link rel="stylesheet" type="text/css" href="~/lib/fontawesome/css/all.css?v=@(timeVersion)" asp-integrity="false" />
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.css?v=@(timeVersion)" asp-integrity="false" />

	<link rel="stylesheet" type="text/css" href="~/css/fonts.css?v=@(timeVersion)" asp-integrity="false" />
	<link rel="stylesheet" type="text/css" href="~/css/global.css?v=@(timeVersion)" asp-integrity="false" />
	<link rel="stylesheet" type="text/css" href="~/css/styles.css?v=@(timeVersion)" asp-integrity="false" />
	<link rel="stylesheet" type="text/css" href="~/css/custom.css?v=@(timeVersion)" asp-integrity="false" />
</environment>
<environment exclude="Development">
	<link rel="stylesheet" type="text/css" href="~/lib/fontawesome/css/all.min.css?v=@(Program.Version)" asp-integrity="true" />
	<link rel="stylesheet" type="text/css" href="~/lib/bootstrap/dist/css/bootstrap.min.css?v=@(Program.Version)" asp-integrity="true" />

	<link rel="stylesheet" type="text/css" href="~/css/fonts.min.css?v=@(Program.Version)" asp-integrity="true" />
	<link rel="stylesheet" type="text/css" href="~/css/global.min.css?v=@(Program.Version)" asp-integrity="true" />
	<link rel="stylesheet" type="text/css" href="~/css/styles.min.css?v=@(Program.Version)" asp-integrity="true" />
	<link rel="stylesheet" type="text/css" href="~/css/custom.min.css?v=@(Program.Version)" asp-integrity="true" />
</environment>
