﻿<link rel="apple-touch-icon" sizes="180x180" href="~/ico/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="~/ico/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="~/ico/favicon-16x16.png" />
<link rel="manifest" href="@Url.Action("Manifest", "Meta")" />
<link rel="mask-icon" href="~/ico/safari-pinned-tab.svg" color="#c80a14" />
<meta name="msapplication-config" content="@Url.Action("BrowserConfig", "Meta")" />
<meta name="msapplication-TileColor" content="#ffd813" />
<meta name="theme-color" content="#ffd813" />
