﻿@{
	string timeVersion = Program.StartupTime.ToString("yyyyMMddHHmm");
}
<environment include="Development">
	<script type="text/javascript" src="~/lib/luxon/build/global/luxon.js?v=@(timeVersion)" asp-integrity="false"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.js?v=@(timeVersion)" asp-integrity="false"></script>
	<script type="text/javascript" src="~/lib/jquery/dist/jquery.js?v=@(timeVersion)" asp-integrity="false"></script>
	<script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.js?v=@(timeVersion)" asp-integrity="false"></script>

	<script type="text/javascript" src="~/js/enums.js?v=@(timeVersion)" asp-integrity="false"></script>
	<script type="text/javascript" src="~/js/models.js?v=@(timeVersion)" asp-integrity="false"></script>

	<script type="text/javascript" src="~/js/global.js?v=@(timeVersion)" asp-integrity="false"></script>
	<script type="text/javascript" src="@Url.Action("JavaScript", "Meta", new { area = "", id = "", v= timeVersion })"></script>
	
	<script type="text/javascript" src="~/js/websocket.js?v=@(timeVersion)" asp-integrity="false"></script>
	<script type="text/javascript" src="~/js/domhelper.js?v=@(timeVersion)" asp-integrity="false"></script>
	<script type="text/javascript" src="~/js/tptoast.js?v=@(timeVersion)" asp-integrity="false"></script>
</environment>
<environment exclude="Development">
	<script type="text/javascript" src="~/lib/luxon/build/global/luxon.min.js?v=@(Program.Version)" asp-integrity="true"></script>
	<script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js?v=@(Program.Version)" asp-integrity="true"></script>
	<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js?v=@(Program.Version)" asp-integrity="true"></script>
	<script type="text/javascript" src="~/lib/signalr/dist/browser/signalr.min.js?v=@(Program.Version)" asp-integrity="true"></script>

	<script type="text/javascript" src="~/js/enums.js?v=@(Program.Version)" asp-integrity="true"></script>
	<script type="text/javascript" src="~/js/models.js?v=@(Program.Version)" asp-integrity="true"></script>

	<script type="text/javascript" src="~/js/global.js?v=@(Program.Version)" asp-integrity="true"></script>
	<script type="text/javascript" src="@Url.Action("JavaScript", "Meta", new { area = "", id = "", v= Program.Version })"></script>
	
	<script type="text/javascript" src="~/js/websocket.js?v=@(Program.Version)" asp-integrity="true"></script>
	<script type="text/javascript" src="~/js/domhelper.js?v=@(Program.Version)" asp-integrity="true"></script>
	<script type="text/javascript" src="~/js/tptoast.js?v=@(Program.Version)" asp-integrity="true"></script>
</environment>
