﻿@{
	Func<string, string, string, bool> isActive = (area, controller, action) =>
		string.Equals(ViewContext.RouteData.Values["Area"] as string ?? "", area, StringComparison.OrdinalIgnoreCase) &&
		((string)ViewContext.RouteData.Values["Controller"]).EndsWith(controller, StringComparison.OrdinalIgnoreCase) &&
		(string.Equals(ViewContext.RouteData.Values["Action"] as string, action, StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(action));
	Func<string, bool> isAreaActive = area =>
		string.Equals(ViewContext.RouteData.Values["Area"] as string, area, StringComparison.OrdinalIgnoreCase);

	var authUser = Context.GetAuthUser();
	string appName = "Lehrgangsverwaltung";
}

<!DOCTYPE html>
<html lang="de" class="h-100">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<partial name="_Favicon" />
	<meta name="description" content="@appName v@(Program.Version)" />

	<title>@ViewBag.Title | @appName</title>

	<partial name="_CSS" />
	@await RenderSectionAsync("Styles", required: false)

	@await RenderSectionAsync("PreScripts", required: false)
</head>
<body class="h-100">
	<div class="main-page">
		<aside class="sidebar">
			<a asp-area="" asp-controller="Trainings" asp-action="Index" asp-route-id="" class="m-2 mb-1 text-decoration-none d-none d-md-inline text-center">
				<img src="~/images/ASB.svg" />
			</a>
			<hr class="d-none d-md-block">

			<ul class="nav nav-pills flex-column mb-auto mt-5 mt-md-0">
				<partial name="_Menu" />
			</ul>

			<hr>

			<div class="footer">
				@if (authUser == null)
				{
					<div class="text-muted text-center">abgemeldet</div>
				}
				else
				{
					<div class="dropup">
						<a href="#" class="text-decoration-none dropdown-toggle text-caps" data-bs-toggle="dropdown" aria-expanded="false">
							@authUser.GetName()
							@if (authUser.ImpersonatingId.HasValue)
							{
								<span class="fa-solid fa-masks-theater mx-1" title="Benutzer wird imitiert"></span>
							}
						</a>
						<ul class="dropdown-menu dropdown-menu-dark text-small">
							@if (!isActive("", "Account", "Mfa"))
							{
								<li>
									<a asp-area="" asp-controller="Account" asp-action="Index" asp-route-id="" class="dropdown-item" condition-class-active="@isActive("", "Account", "Index")">
										<span class="fa-solid fa-fw fa-user"></span> Profil
									</a>
								</li>
								@if (authUser.IsAdmin)
								{
									<li><hr class="dropdown-divider"></li>
									<li>
										<a asp-area="" asp-controller="Settings" asp-action="Index" asp-route-id="" class="dropdown-item" condition-class-active="@isActive("", "Settings", "")">
											<span class="fa-solid fa-fw fa-gears"></span> Einstellungen
										</a>
									</li>
									<li>
										<a asp-area="" asp-controller="Protocols" asp-action="Index" asp-route-id="" class="dropdown-item" condition-class-active="@isActive("", "Protocols", "")">
											<span class="fa-solid fa-fw fa-clock-rotate-left"></span> Protokoll
										</a>
									</li>
								}
								<li><hr class="dropdown-divider"></li>
							}
							<li>
								<a asp-area="" asp-controller="Account" asp-action="Logout" asp-route-id="" class="dropdown-item">
									<span class="fa-solid fa-fw fa-right-from-bracket"></span> Abmelden
								</a>
							</li>
						</ul>
					</div>
				}
			</div>
		</aside>

		<main class="h-100">
			<div class="navbar navbar-main d-md-none">
				<div class="container-fluid">
					<a asp-area="" asp-controller="Trainings" asp-action="Index" asp-route-id="" class="navbar-brand">
						<img src="~/ico/apple-touch-icon.png" /> @appName
					</a>

					<button class="navbar-toggler" type="button">
						<span class="fa-solid fa-bars"></span>
					</button>
				</div>
			</div>

			<div class="d-flex flex-column main-content">
				<div class="mx-4 my-3">
					@RenderBody()
				</div>

				<footer class="mx-4 mt-auto">
					<div class="d-flex justify-content-between footer mt-2">
						<p class="px-1"><!-- Copyright? / Last Updated? --></p>
						<p class="px-1">
							<span class="fa-solid fa-heart-pulse tp-tooltip" data-bs-toggle="tooltip" data-bs-placement="top" title="Status" id="websocket-connection-state"></span>
							<span class="ms-2">v@(Program.Version)</span>
						</p>
					</div>
				</footer>
			</div>

		</main>
	</div>

	<partial name="_JS" />
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
