﻿@{
	Func<string, string, string, bool> isActive = (area, controller, action) =>
		string.Equals(ViewContext.RouteData.Values["Area"] as string ?? "", area, StringComparison.OrdinalIgnoreCase) &&
		((string)ViewContext.RouteData.Values["Controller"]).EndsWith(controller, StringComparison.OrdinalIgnoreCase) &&
		(string.Equals(ViewContext.RouteData.Values["Action"] as string, action, StringComparison.OrdinalIgnoreCase) || string.IsNullOrEmpty(action));
	Func<string, bool> isAreaActive = area =>
		string.Equals(ViewContext.RouteData.Values["Area"] as string, area, StringComparison.OrdinalIgnoreCase);

	var authUser = Context.GetAuthUser();
}

@if (authUser == null)
{
	<li class="nav-item">
		<a asp-area="" asp-controller="Trainings" asp-action="Index" asp-route-id="" class="nav-link" condition-class-active="@isActive("", "Trainings", "Index")">
			<span class="fa-solid fa-fw fa-house"></span> Übersicht
		</a>
	</li>
	<li class="nav-item">
		<a asp-area="" asp-controller="Account" asp-action="Login" asp-route-id="" class="nav-link" condition-class-active="@isActive("", "Account", "Login")">
			<span class="fa-solid fa-fw fa-right-to-bracket"></span> Anmelden
		</a>
	</li>
}
else if (isActive("", "Account", "Mfa"))
{
	<!-- No menu wanted -->
}
else
{
	<li class="nav-item">
		<a asp-area="" asp-controller="Trainings" asp-action="Index" asp-route-id="" class="nav-link" condition-class-active="@isActive("", "Trainings", "")">
			<span class="fa-solid fa-fw fa-house"></span> Übersicht
		</a>
	</li>

	<li class="nav-item">
		<a asp-area="" asp-controller="Participants" asp-action="Index" asp-route-id="" class="nav-link" condition-class-active="@isActive("", "Participants", "")">
			<span class="fa-solid fa-fw fa-users-between-lines"></span> Teilnehmer
		</a>
	</li>

	@if (authUser.IsAdmin)
	{
		<li class="nav-item">
			<a asp-area="" asp-controller="Departments" asp-action="Index" asp-route-id="" class="nav-link" condition-class-active="@isActive("", "Departments", "")">
				<span class="fa-solid fa-fw fa-building-user"></span> Bereiche
			</a>
		</li>
		<li class="nav-item">
			<a asp-area="" asp-controller="Users" asp-action="Index" asp-route-id="" class="nav-link" condition-class-active="@isActive("", "Users", "")">
				<span class="fa-solid fa-fw fa-users"></span> Benutzer
			</a>
		</li>
	}
}
