﻿<li class="nav-item">
	<a asp-area="" asp-controller="Trainings" asp-action="Index" asp-route-id="" class="nav-link">
		<span class="fa-solid fa-fw fa-house"></span> Übersicht
	</a>
</li>

<li class="nav-item">
	<a asp-area="" asp-controller="Protocols" asp-action="Index" asp-route-id="" class="nav-link active">
		<span class="fa-solid fa-fw fa-clock-rotate-left"></span> Server-Protokoll
	</a>
</li>
<li class="nav-item">
	<a asp-area="" asp-controller="Emails" asp-action="Index" asp-route-id="" class="nav-link">
		<span class="fa-solid fa-fw fa-envelopes-bulk"></span> E-Mail Versand
	</a>
</li>
