﻿<h1 class="h1"><span class="fa-solid fa-clock-rotate-left"></span> Server-Protokoll</h1>

@if ((bool?)ViewBag.IsAvailable == true)
{
	<div class="table-responsive">
		<table class="table" id="log">
			<thead class="table-light">
				<tr>
					<th scope="col">Zeit</th>
					<th scope="col">Level</th>
					<th scope="col">Nachricht</th>
					<th scope="col">&nbsp;</th>
				</tr>
			</thead>
			<tbody class="tp-template">
				<tr>
					<td data-text="timestampISO" data-type="luxon" data-format="dd.MM.yyyy HH:mm:ss"></td>
					<td data-text="level"></td>
					<td data-text="message"></td>
					<td class="text-end">
						<button type="button" class="btn btn-sm btn-outline-dark details" title="Details">
							<span class="fa-solid fa-fw fa-magnifying-glass"></span>
						</button>
					</td>
				</tr>
			</tbody>
			<tbody class="items">
				<!-- filled via JavaScript -->
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4" class="text-center">
						<a href="#" id="load-entries">Ältere Einträge laden</a>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>

	<div class="modal fade" id="detail-modal" tabindex="-1" aria-labelledby="dm-title" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="dm-title"><span class="fa-solid fa-magnifying-glass"></span> Details</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
				</div>
				<div class="modal-body">
					<h4 class="properties h4">Eigenschaften</h4>
					<div class="properties table-responsive">
						<table class="table table-sm">
							<thead class="thead-light">
								<tr>
									<th scope="col">Name</th>
									<th scope="col">Wert</th>
								</tr>
							</thead>
							<tbody id="properties"></tbody>
						</table>
					</div>

					<h4 class="h4 exception">Ausnahme</h4>
					<p class="exception whitespace-pre overflow-auto" id="exception"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Schließen</button>
				</div>
			</div>
		</div>
	</div>


	@section Scripts {
		<environment include="Development">
			<script type="text/javascript" src="~/js/pages/protocols.js?v=@(Program.StartupTime.ToString("yyyyMMddHHmm"))" asp-integrity="false"></script>
		</environment>
		<environment exclude="Development">
			<script type="text/javascript" src="~/js/pages/protocols.js?v=@(Program.Version)" asp-integrity="true"></script>
		</environment>

		<script type="text/javascript">
			Protocols.Initialize('@Url.Action("Get", "Protocols", new { area = "" })');
		</script>
	}
}
else
{
	<div class="alert alert-info" role="alert">
		<span class="fa-solid fa-fw fa-circle-info"></span> Datenbank basiertes Logging ist derzeit nicht eingerichtet. Es kann in der Konfigurationsdatei eingestellt werden.
	</div>
}
