﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration configuration
@{
	string defaultSender = $"{configuration.GetValue("SMTP:Name", Program.Service)} <{configuration.GetValue("SMTP:Sender", "no-reply@localhost")}>";
}

<h1 class="h1"><span class="fa-solid fa-fw fa-envelopes-bulk"></span> E-Mail Versand</h1>

<div class="table-responsive">
	<table class="table" id="emails">
		<thead class="table-light">
			<tr>
				<th scope="col" class="tp-table-check">
					<input type="checkbox" class="form-check-input check-all-parent" />
				</th>
				<th scope="col">Geplanter Versand</th>
				<th scope="col">Betreff</th>
				<th scope="col">Status</th>
				<th scope="col">Status-Zeit</th>
				<th scope="col" class="text-end">
					<button type="button" class="btn btn-sm btn-danger check-all-button" id="delete" title="löschen" disabled>
						<span class="fa-solid fa-fw fa-trash"></span>
					</button>
				</th>
			</tr>
		</thead>
		<tbody class="tp-template">
			<tr>
				<td class="tp-table-check">
					<input type="checkbox" class="form-check-input check-all-child" disabled />
				</td>
				<td data-text="sendAfterDate" data-type="luxon" data-format="dd.MM.yyyy HH:mm"></td>
				<td data-text="subject"></td>
				<td data-text="status"></td>
				<td data-text="updatedAt" data-type="luxon" data-format="dd.MM.yyyy HH:mm"></td>
				<td class="text-end">
					<button type="button" class="btn btn-sm btn-outline-secondary resend" title="erneut senden" disabled>
						<span class="fa-solid fa-fw fa-arrow-rotate-right"></span>
					</button>
					<button type="button" class="btn btn-sm btn-outline-dark details" title="Details">
						<span class="fa-solid fa-fw fa-magnifying-glass"></span>
					</button>
				</td>
			</tr>
		</tbody>
		<tbody class="items">
			<!-- filled via JavaScript -->
		</tbody>
		<tfoot>
			<tr>
				<td colspan="6" class="text-center">
					<a href="#" id="load-entries">Ältere Einträge laden</a>
				</td>
			</tr>
		</tfoot>
	</table>
</div>

<div class="modal fade" id="detail-modal" tabindex="-1" aria-labelledby="dm-title" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="dm-title"><span class="fa-solid fa-magnifying-glass"></span> Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
			</div>
			<div class="modal-body">
				<div class="row g-3 mb-3">
					<div class="col-sm-6">
						<label class="form-label">ID</label>
						<input class="form-control" data-value="id" readonly />
					</div>

					<div class="col-sm-6">
						<label class="form-label">Status (Zeit)</label>
						<div class="input-group">
							<input class="form-control" data-value="status" readonly />
							<input class="form-control" data-value="updatedAt" data-type="luxon" data-format="dd.MM.yyyy HH:mm:ss" readonly />
						</div>
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-sm">
						<label class="form-label">Absender</label>
						<input class="form-control" data-value="replyTo" readonly />
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-sm-10">
						<label class="form-label">Empfänger</label>
						<input class="form-control" data-value="recipients" readonly />
					</div>
					<div class="col-sm-2">
						<label class="form-label">Sichtbar</label>
						<input class="form-control" data-value="recipientsVisible" readonly />
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-sm-10">
						<label class="form-label">Betreff</label>
						<input class="form-control" data-value="subject" readonly />
					</div>
					<div class="col-sm-2">
						<label class="form-label">Priorität</label>
						<input class="form-control" data-value="priority" readonly />
					</div>
				</div>

				<div class="row g-3 mb-3">
					<div class="col-sm">
						<label class="form-label">Nachricht</label>
						<div class="form-control" id="dm-message"></div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="dm-resend" disabled>Erneut senden</button>
				<button type="button" class="btn btn-danger" id="dm-delete" disabled>Löschen</button>
				<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Schließen</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<environment include="Development">
		<script type="text/javascript" src="~/js/pages/emails.js?v=@(Program.StartupTime.ToString("yyyyMMddHHmm"))" asp-integrity="false"></script>
	</environment>
	<environment exclude="Development">
		<script type="text/javascript" src="~/js/pages/emails.js?v=@(Program.Version)" asp-integrity="true"></script>
	</environment>

	<script type="text/javascript">
		Emails.Initialize({
			get: '@Url.Action("Get", "Emails", new { area = "" })',
			delete: '@Url.Action("Delete", "Emails", new { area = "" })',
			deleteMulti: '@Url.Action("DeleteMulti", "Emails", new { area = "" })',
			reSend: '@Url.Action("ReSend", "Emails", new { area = "" })'
		}, '@Html.Raw(defaultSender)');
	</script>
}
