﻿@using AMWD.ASBHE.TrainingPlanning.Enums
@using AMWD.ASBHE.TrainingPlanning.Extensions
@model ParticipantsViewModel
@{
	var authUser = Context.GetAuthUser();

	var groupedDriverLicenseClasses = new[]
	{
		new[] { DriverLicense.AM, DriverLicense.A1, DriverLicense.A2, DriverLicense.A },
		new[] { DriverLicense.B1, DriverLicense.B, DriverLicense.BE },
		new[] { DriverLicense.C1, DriverLicense.C, DriverLicense.C1E, DriverLicense.CE },
		new[] { DriverLicense.D1, DriverLicense.D, DriverLicense.D1E, DriverLicense.DE },
		new[] { DriverLicense.L, DriverLicense.T },
		new[] { DriverLicense.FW47, DriverLicense.FW75, DriverLicense.FW47E, DriverLicense.FW75E }
	};
}

<h1 class="h1"><span class="fa-solid fa-chalkboard-user"></span> Teilnehmer</h1>

<form asp-area="" asp-controller="Participants" asp-action="Edit" asp-route-id="" method="post">
	<input asp-for="Id" type="hidden" value="@Model.Id" />

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="FirstName" class="form-label">Vorname</label>
			<input asp-for="FirstName" class="form-control" />
			<span asp-validation-for="FirstName"></span>
		</div>
		<div class="col-sm">
			<label asp-for="LastName" class="form-label">Nachname</label>
			<input asp-for="LastName" class="form-control" />
			<span asp-validation-for="LastName"></span>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="EmailAddress" class="form-label">E-Mail Adresse</label>
			<input asp-for="EmailAddress" class="form-control" />
			<span asp-validation-for="EmailAddress"></span>
		</div>
		<div class="col-sm">
			<label asp-for="PhoneNumber" class="form-label">Telefon</label>
			<input asp-for="PhoneNumber" class="form-control" type="tel" />
			<span asp-validation-for="PhoneNumber"></span>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="Birthday" class="form-label">Geburtsdatum/-ort</label>
			<div class="input-group">
				<input asp-for="Birthday" class="form-control" placeholder="Geburtsdatum" type="date" max="@(DateTime.Now.ToString("yyyy-MM-dd"))" />
				<input asp-for="PlaceOfBirth" class="form-control" placeholder="Geburtsort" />
			</div>
		</div>
		<div class="col-sm">
			<label asp-for="DepartmentId" class="form-label">Bereich</label>
			<select asp-for="DepartmentId" class="form-select" disabled="@(!authUser.IsAdmin)">
				<option value="">&mdash;</option>
				@foreach (var department in Model.Departments)
				{
					<option value="@department.Id" disabled="@(department.IsDeleted)">@department.Name</option>
				}
			</select>
			<span asp-validation-for="DepartmentId"></span>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label class="form-label">Adresse</label>
			<div class="input-group">
				<input asp-for="Street" class="form-control" placeholder="Straße + Haus Nr." />
			</div>
		</div>
		<div class="col-sm">
			<label class="form-label d-none d-sm-block">&nbsp;</label>
			<div class="input-group">
				<input asp-for="ZipCode" class="form-control" placeholder="PLZ" />
				<input asp-for="City" class="form-control" placeholder="Stadt" />
			</div>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="AddressAddition" class="form-label">Adress-Zusatz</label>
			<input asp-for="AddressAddition" class="form-control" />
		</div>
		<div class="col-sm">
			<label asp-for="Country" class="form-label">Land</label>
			<input asp-for="Country" class="form-control" />
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm-auto">
			<input asp-for="DriverLicenseClasses" type="hidden" />
			<label class="form-label">Führerscheinklassen</label>
			<br/>
			@foreach (var dlcGroup in groupedDriverLicenseClasses)
			{
				<div class="btn-group mb-1">
					@foreach (var dc in dlcGroup)
					{
						<input id="dc_@((int)dc)" class="btn-check dc-check" type="checkbox" autocomplete="off" value="@(dc.ToString())" />
						<label for="dc_@((int)dc)" class="btn btn-outline-dark">@dc.ToString()</label>
					}
				</div>
			}
		</div>
		<div class="col-sm-auto">
			<label class="form-label d-none d-sm-inline-block">&nbsp;</label>
			<div class="form-check form-switch mt-sm-2">
				<input asp-for="DriverPermission" class="form-check-input" type="checkbox" role="switch" />
				<label asp-for="DriverPermission" class="form-check-label">Fahrberechtigung KatS-Fahrzeuge (Kraftfahrerlehrgang)</label>
			</div>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="FoodSelection" class="form-label">Essenswunsch</label>
			<select asp-for="FoodSelection" class="form-select">
				<option value="">&mdash;</option>
				@foreach (var fs in Enum.GetValues <FoodSelection>())
				{
					<option value="@((int)fs)">@(fs.GetDisplayName())</option>
				}
			</select>
		</div>
		<div class="col-sm">
			<label asp-for="Allergies" class="form-label">Allergien</label>
			<input asp-for="Allergies" class="form-control" />
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm-auto">
			<div class="form-check form-switch">
				<input asp-for="AssistanceRequired" class="form-check-input" type="checkbox" role="switch" />
				<label asp-for="AssistanceRequired" class="form-check-label">Assistenzbedarf</label>
			</div>
		</div>
		<div class="col-sm-auto">
			<div class="form-check form-switch">
				<input asp-for="IsEnabled" class="form-check-input" type="checkbox" role="switch" />
				<label asp-for="IsEnabled" class="form-check-label">aktiv</label>
			</div>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<button type="submit" class="btn btn-outline-primary">Speichern</button>
			<a asp-area="" asp-controller="Participants" asp-action="Index" asp-route-id="" class="btn btn-outline-secondary">Abbrechen</a>
			<button type="submit" asp-action="Delete" name="id" value="@Model.Id" class="btn btn-outline-danger" id="delete">Löschen</button>
		</div>
	</div>
</form>


@section Scripts {
	<environment include="Development">
		<script type="text/javascript" src="~/js/pages/participants.js?v=@(Program.StartupTime.ToString("yyyyMMddHHmm"))" asp-integrity="false"></script>
	</environment>
	<environment exclude="Development">
		<script type="text/javascript" src="~/js/pages/participants.js?v=@(Program.Version)" asp-integrity="true"></script>
	</environment>

	<script type="text/javascript">
		Participants.InitializeEdit();
	</script>
}
