﻿@using AMWD.ASBHE.TrainingPlanning.Enums
@using AMWD.ASBHE.TrainingPlanning.Extensions
@model ParticipantsViewModel
@{
	var authUser = Context.GetAuthUser();
}

<h1 class="h1"><span class="fa-solid fa-fw fa-users-between-lines"></span> Teilnehmer</h1>

<div class="row g-3 mb-3">
	<div class="col">&nbsp;<!-- used to fill space --></div>
	<div class="col-auto">
		<div class="btn-group" role="group" aria-label="Im- und Export">
			@if (authUser.IsAdmin)
			{
				<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#import-modal">
					<span class="fa-solid fa-cloud-arrow-up"></span> Import
				</button>
			}
			<a asp-area="" asp-controller="Participants" asp-action="Export" asp-route-id="" class="btn btn-dark blank">
				<span class="fa-solid fa-cloud-arrow-down"></span> Export
			</a>
		</div>
	</div>
</div>

<form asp-area="" asp-controller="Participants" asp-action="Delete" asp-route-id="" method="post" class="table-responsive">
	<table class="table">
		<thead class="table-light">
			<tr>
				<th scope="col" class="tp-table-check">
					<input class="form-check-input check-all-parent" type="checkbox" aria-label="alle auswählen" />
				</th>
				<th scope="col">Name</th>
				<th scope="col">E-Mail Adresse</th>
				<th scope="col">Geburtsdatum</th>
				<th scope="col">Telefon</th>
				<th scope="col" condition-class-d-none="@(!authUser.IsAdmin)">Bereich</th>
				<th scope="col" class="text-end">
					<a asp-area="" asp-controller="Participants" asp-action="Create" asp-route-id="" class="btn btn-sm btn-success" title="Neuer Teilnehmer (Stammdaten)">
						<span class="fa-solid fa-fw fa-plus"></span>
					</a>
					<button type="button" class="btn btn-sm btn-secondary check-all-button" id="merge" title="Teilnehmer zusammenführen" disabled>
						<span class="fa-solid fa-fw fa-arrows-to-circle"></span>
					</button>
					<button type="button" class="btn btn-sm btn-danger check-all-button" id="multi-delete" title="Teilnehmer löschen" disabled>
						<span class="fa-solid fa-fw fa-trash"></span>
					</button>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var participant in Model.Participants)
			{
				var department = Model.Departments.Where(d => d.Id == participant.DepartmentId).FirstOrDefault();

				<tr>
					<td class="tp-table-check">
						<input class="form-check-input check-all-child" type="checkbox" value="@participant.Id" aria-label="auswählen" />
					</td>
					<td>@participant.FirstName @participant.LastName</td>
					<td>@participant.EmailAddress</td>
					<td>@participant.Birthday.ToString("dd.MM.yyyy")</td>
					<td>@participant.PhoneNumber</td>
					<td condition-class-d-none="@(!authUser.IsAdmin)" condition-class-text-decoration-line-through="@(department?.IsDeleted ?? false)">@department?.Name</td>
					<td class="text-end">
						<a asp-area="" asp-controller="Participants" asp-action="Edit" asp-route-id="@participant.Id" class="btn btn-sm btn-outline-primary" title="bearbeiten">
							<span class="fa-solid fa-fw fa-pen"></span>
						</a>
						<button type="submit" name="id" value="@participant.Id" class="btn btn-sm btn-outline-danger delete" title="löschen">
							<span class="fa-solid fa-fw fa-trash"></span>
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</form>

<div class="modal fade" id="import-modal" tabindex="-1" aria-labelledby="im-title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form class="modal-content" asp-controller="Participants" asp-action="Import" asp-route-id="" enctype="multipart/form-data" method="post">
			<div class="modal-header">
				<h5 class="modal-title" id="im-title"><span class="fa-solid fa-cloud-arrow-up"></span> Import</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
			</div>
			<div class="modal-body">
				<p>
					Hier kann die zuvor exportierte Excel Datei wieder hochgeladen werden.
					<br />
					Wenn noch keine Daten vorhanden sind, fungiert der Export als Vorlage.
				</p>

				<strong>Hinweise</strong>
				<ul class="small">
					<li>Das Tabellenblatt muss <em>Import</em> heißen</li>
					<li>Die Spaltennamen dürfen nicht verändert werden</li>
					<li>
						Zuordnung erfolgt über:
						<ol>
							<li>Abgleich der E-Mail Adresse</li>
							<li>Abgleich der Telefonnummer</li>
						</ol>
					</li>
				</ul>

				<div class="row g-3 mb-3">
					<input id="im-file" class="form-control" type="file" name="file" accept=".xlsx,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary">Importieren</button>
				<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Schließen</button>
			</div>
		</form>
	</div>
</div>

<div class="modal fade" id="merge-modal" tabindex="-1" aria-labelledby="mm-title" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="mm-title"><span class="fa-solid fa-arrows-to-circle"></span> Teilnehmer zusammenführen</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table table-hover" id="mm-table">
						<tbody class="tp-template">
							<tr data-name="firstName"><th scope="row">Vorname</th></tr>
							<tr data-name="lastName"><th scope="row">Nachname</th></tr>
							<tr data-name="emailAddress"><th scope="row">E-Mail Adresse</th></tr>
							<tr data-name="phoneNumber"><th scope="row">Telefon</th></tr>
							<tr data-name="birthday"><th scope="row">Geburtstag</th></tr>
							<tr data-name="placeOfBirth"><th scope="row">Geburtsort</th></tr>
							<tr data-name="department"><th scope="row">Bereich</th></tr>
							<tr data-name="street"><th scope="row">Straße + Haus Nr.</th></tr>
							<tr data-name="addressAddition"><th scope="row">Adress-Zusatz</th></tr>
							<tr data-name="zipCode"><th scope="row">PLZ</th></tr>
							<tr data-name="city"><th scope="row">Stadt</th></tr>
							<tr data-name="country"><th scope="row">Land</th></tr>
							<tr data-name="driverLicenseClasses"><th scope="row">Führerscheinklassen</th></tr>
							<tr data-name="driverPermission"><th scope="row">Fahrberechtigung KatS</th></tr>
							<tr data-name="assistanceRequired"><th scope="row">Assistenzbedarf</th></tr>
							<tr data-name="foodSelection"><th scope="row">Essenswunsch</th></tr>
							<tr data-name="allergies"><th scope="row">Allergien</th></tr>
							<tr data-name="isEnabled"><th scope="row">Aktiv</th></tr>
						</tbody>
						<tbody class="items">
							<!-- Filled by JavaScript -->
						</tbody>
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="mm-submit">Zusammenführen</button>
				<button type="button" class="btn btn-dark" data-bs-dismiss="modal">Schließen</button>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<environment include="Development">
		<script type="text/javascript" src="~/js/pages/participants.js?v=@(Program.StartupTime.ToString("yyyyMMddHHmm"))" asp-integrity="false"></script>
	</environment>
	<environment exclude="Development">
		<script type="text/javascript" src="~/js/pages/participants.js?v=@(Program.Version)" asp-integrity="true"></script>
	</environment>

	<script type="text/javascript">
		window.FoodSelectionMapping = @Html.Raw(Enum.GetValues<FoodSelection>().ToDictionary(e => (int)e, e => e.GetDisplayName()).SerializeJson());

		Participants.InitializeIndex({
			deleteMulti: '@Url.Action("DeleteMulti", "Participants")',
			get: '@Url.Action("Get", "Participants")',
			merge: '@Url.Action("Merge", "Participants")'
		});
	</script>
}
