@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Black'), local('NotoSerif-Black'),
        url('NotoSerif-Black.woff2') format('woff2'),
        url('NotoSerif-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Bold'), local('NotoSerif-Bold'),
        url('NotoSerif-Bold.woff2') format('woff2'),
        url('NotoSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Black Italic'), local('NotoSerif-BlackItalic'),
        url('NotoSerif-BlackItalic.woff2') format('woff2'),
        url('NotoSerif-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Light Italic'), local('NotoSerif-LightItalic'),
        url('NotoSerif-LightItalic.woff2') format('woff2'),
        url('NotoSerif-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif ExtraBold Italic'), local('NotoSerif-ExtraBoldItalic'),
        url('NotoSerif-ExtraBoldItalic.woff2') format('woff2'),
        url('NotoSerif-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Italic'), local('NotoSerif-Italic'),
        url('NotoSerif-Italic.woff2') format('woff2'),
        url('NotoSerif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Bold Italic'), local('NotoSerif-BoldItalic'),
        url('NotoSerif-BoldItalic.woff2') format('woff2'),
        url('NotoSerif-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif ExtraLight Italic'), local('NotoSerif-ExtraLightItalic'),
        url('NotoSerif-ExtraLightItalic.woff2') format('woff2'),
        url('NotoSerif-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif ExtraBold'), local('NotoSerif-ExtraBold'),
        url('NotoSerif-ExtraBold.woff2') format('woff2'),
        url('NotoSerif-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif ExtraLight'), local('NotoSerif-ExtraLight'),
        url('NotoSerif-ExtraLight.woff2') format('woff2'),
        url('NotoSerif-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Light'), local('NotoSerif-Light'),
        url('NotoSerif-Light.woff2') format('woff2'),
        url('NotoSerif-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Thin'), local('NotoSerif-Thin'),
        url('NotoSerif-Thin.woff2') format('woff2'),
        url('NotoSerif-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Medium Italic'), local('NotoSerif-MediumItalic'),
        url('NotoSerif-MediumItalic.woff2') format('woff2'),
        url('NotoSerif-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Regular'), local('NotoSerif-Regular'),
        url('NotoSerif-Regular.woff2') format('woff2'),
        url('NotoSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Thin Italic'), local('NotoSerif-ThinItalic'),
        url('NotoSerif-ThinItalic.woff2') format('woff2'),
        url('NotoSerif-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif SemiBold Italic'), local('NotoSerif-SemiBoldItalic'),
        url('NotoSerif-SemiBoldItalic.woff2') format('woff2'),
        url('NotoSerif-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif SemiBold'), local('NotoSerif-SemiBold'),
        url('NotoSerif-SemiBold.woff2') format('woff2'),
        url('NotoSerif-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Serif';
    src: local('Noto Serif Medium'), local('NotoSerif-Medium'),
        url('NotoSerif-Medium.woff2') format('woff2'),
        url('NotoSerif-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

