﻿@model ErrorViewModel

<div class="center-vertical bg-error">
	<div class="center-horizontal error">
		<div class="error-shadow">
			<div class="error-icon">
				<span class="@Model.Icon"></span>
			</div>
			<div class="error-text">
				<h1 class="error-title">@Model.Title</h1>
				<p class="error-body">
					@Html.Raw(Model.Description)
				</p>
			</div>
		</div>
	</div>
</div>
