﻿@model UsersViewModel
@{
	var authUser = Context.GetAuthUser();
}

<h1 class="h1"><span class="fa-solid fa-users"></span> Benutzer</h1>

<form asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="" method="post">
	<input asp-for="Id" type="hidden" value="@Model.Id" />

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="FirstName" class="form-label">Vorname</label>
			<input asp-for="FirstName" class="form-control" />
			<span asp-validation-for="FirstName"></span>
		</div>
		<div class="col-sm">
			<label asp-for="LastName" class="form-label">Nachname</label>
			<input asp-for="LastName" class="form-control" />
			<span asp-validation-for="LastName"></span>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<label asp-for="EmailAddress" class="form-label">E-Mail Adresse</label>
			<input asp-for="EmailAddress" class="form-control" type="email" />
			<span asp-validation-for="EmailAddress"></span>
		</div>
		<div class="col-sm">
			<label asp-for="DepartmentId" class="form-label">Bereich</label>
			<select asp-for="DepartmentId" class="form-select">
				<option value="">&mdash;</option>
				@foreach (var department in Model.Departments)
				{
					<option value="@department.Id" disabled="@department.IsDeleted">@department.Name</option>
				}
			</select>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<div class="form-check form-switch">
				<input asp-for="IsEnabled" class="form-check-input" type="checkbox" role="switch" />
				<label asp-for="IsEnabled" class="form-check-label">Benutzer aktiv</label>
			</div>
		</div>
		<div class="col-sm mt-0 mt-sm-3">
			<div class="form-check form-switch">
				<input asp-for="IsAdmin" class="form-check-input" type="checkbox" role="switch" />
				<label asp-for="IsAdmin" class="form-check-label">Administrator</label>
			</div>
		</div>
	</div>

	<div class="row g-3 mb-3">
		<div class="col-sm">
			<button type="submit" class="btn btn-outline-primary">Speichern</button>
			<a asp-area="" asp-controller="Users" asp-action="Index" asp-route-id="" class="btn btn-outline-secondary">Abbrechen</a>
			@if (Model.Id > 0 && Model.Id != authUser.Id)
			{
				<span class="px-2">&nbsp;</span>
				<button type="button" class="btn btn-outline-info" id="generate-password" data-id="@(Model.Id)">Neues Kennwort</button>
				<button type="submit" class="btn btn-outline-danger" asp-action="Delete" id="delete">Löschen</button>
			}
		</div>
	</div>
</form>

@section Scripts {
	<environment include="Development">
		<script type="text/javascript" src="~/js/pages/users.js?v=@(Program.StartupTime.ToString("yyyyMMddHHmm"))" asp-integrity="false"></script>
	</environment>
	<environment exclude="Development">
		<script type="text/javascript" src="~/js/pages/users.js?v=@(Program.Version)" asp-integrity="true"></script>
	</environment>

	<script type="text/javascript">
		Users.InitializeEdit('@Url.Action("GeneratePassword", "Users")');
	</script>
}
