﻿@model UsersViewModel
@{
	var authUser = Context.GetAuthUser();
}

<h1 class="h1"><span class="fa-solid fa-users"></span> Benutzer</h1>

<form asp-area="" asp-controller="Users" asp-action="Delete" asp-route-id="" method="post" class="table-responsive">
	<table class="table table-hover">
		<thead class="table-light">
			<tr>
				<th scope="col">E-Mail Adresse</th>
				<th scope="col">Bereich</th>
				<th scope="col" class="text-center">Aktiv</th>
				<th scope="col" class="text-center">Admin</th>
				<th scope="col" class="text-end">
					<a asp-area="" asp-controller="Users" asp-action="Create" asp-route-id="" title="Neuer Benutzer" class="btn btn-sm btn-success">
						<span class="fa-solid fa-fw fa-plus"></span>
					</a>
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in Model.Users)
			{
				var department = Model.Departments
					.Where(d => d.Id == user.DepartmentId)
					.FirstOrDefault();

				<tr>
					<td title="@user.GetName()">@user.EmailAddress</td>
					<td condition-class-text-decoration-line-through="@(department?.IsDeleted == true)">@(department?.Name ?? "-")</td>
					<td class="text-center" title="@(user.IsEnabled ? "aktiv" : "inaktiv")"><span class="fa-solid fa-fw @(user.IsEnabled ? "fa-check text-success" : "fa-times text-danger")"></span></td>
					<td class="text-center" title="@(user.IsAdmin ? "Administrator" : "Benutzer")"><span class="fa-solid fa-fw @(user.IsAdmin ? "fa-crown text-primary" : "fa-user text-secondary")"></span></td>
					<td class="text-end">
						<button type="submit" asp-action="Impersonate" name="id" value="@user.Id" title="Benutzer imitieren" class="btn btn-sm btn-outline-secondary" disabled="@(user.Id == authUser.Id)">
							<span class="fa-solid fa-fw fa-masks-theater"></span>
						</button>
						<a asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id" title="Benutzer bearbeiten" class="btn btn-sm btn-outline-primary">
							<span class="fa-solid fa-fw fa-pen"></span>
						</a>
						<button type="submit" name="id" value="@user.Id" title="Benutzer löschen" class="btn btn-sm btn-outline-danger del-user" disabled="@(user.Id == authUser.Id)">
							<span class="fa-solid fa-fw fa-trash"></span>
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
</form>

@section Scripts {
	<environment include="Development">
		<script type="text/javascript" src="~/js/pages/users.js?v=@(Program.StartupTime.ToString("yyyyMMddHHmm"))" asp-integrity="false"></script>
	</environment>
	<environment exclude="Development">
		<script type="text/javascript" src="~/js/pages/users.js?v=@(Program.Version)" asp-integrity="true"></script>
	</environment>

	<script type="text/javascript">
		Users.InitializeIndex();
	</script>
}
